<div class="row">
  <div class="col-6">
      <div class="gallery">
        <figure class="card">
          <img src="assets/gauss2.jpeg" alt="Imagen">
        </figure>
        <figure class="card">
          <img src="assets/img2.jpg" alt="Imagen">
        </figure>
        <figure class="card">
          <img src="assets/img3.jpg" alt="Imagen">
        </figure>
        <figure class="card">
          <img src="assets/img4.jpg" alt="Imagen">
        </figure>
      </div>
  </div>


  <!-- Historia del Álgebra -->
 <div class="col-5">
    
    <h3>History of Algebra</h3>
    <p>
        Algebra is a branch of mathematics that deals with variables, equations, functions, graphs, and more.
        Its history is rich and dates back to several ancient civilizations.
        Algebra as a mathematical discipline independent of geometry and arithmetic developed largely during medieval Islam.
        Many of the methods used in algebra today are derived from this period. 
        Algebra can be considered as the art of making calculations in the same way as in arithmetic, but with non-numerical mathematical objects.
        A key element in algebra is the variable, which can be thought of as a wild card or a secret card that represents something that has not yet been deciphered. 
        Algebraic expressions, which are sets of numbers and variables, are a fundamental component of algebra.
        The history of algebra is also marked by significant contributions from various cultures and civilizations.
        For example, mathematics in ancient Egypt and in Chaldea and Assyria have played a role in the development of algebra. 
        Historical figures such as Thales of Miletus have also made significant contributions.
    <p>
   
    </div>

    <!-- Temas importantes de Álgebra -->
   <div class="col-6">
 
   <div class="topic-card">
      <h3>Introduction to Mathematical Algebra</h3>
          <p>
          Algebra is one of the main branches of mathematics. It studies abstract structures operating in fixed patterns, 
          within which there are usually more than numbers and arithmetic operations: 
          there are also letters, which represent specific operations, variables, unknowns, or coefficients.
          Many of its methods derive from the development of mathematics in medieval Islam, 
          highlighting the independence of algebra as a mathematical discipline separate from geometry and arithmetic.
          Algebra has a lot to do with fundamental arithmetic operations, also known as addition (+), subtraction (-), multiplication (x), and division (÷). 
          A key element in algebra is the variable, which can be considered as a wildcard or secret card that represents something that has not yet been deciphered.
          Within the elements of algebra, we find algebraic expressions, which are the set of numbers and variables.
         </p>
    </div>
  

  </div>

    <div class="col-6">
      <section>
        <img src="assets/arq.jpg" alt="Imagen">
        <img src="assets/everi.jpeg" alt="Imagen">
        <img src="assets/pit2.jpg"alt="Imagen">
        <img src="assets/alju.jpg" alt="Imagen">
      </section>
    </div>
    
    
    

   <!-- Matemáticos importantes -->
   <div class="container important-mathematicians">
      <h3>Important Mathematicians in Algebra Mathematics</h3>
         <div class="mathematician-card">
            <img src="assets/Archimedes.jpg" alt="Imagen">
              <h4>Arquímedes</h4>
                 <p>
                  Arquímedes, a renowned mathematician and inventor, made significant contributions to the field of mathematics.Some of his important contributions include:
                  Calculation of Pi: Arquímedes made precise calculations of the value of Pi, which is the ratio of a circle's circumference to its diameter. He approximated Pi by using polygons with many sides, providing increasingly accurate estimations.
                  Method of Exhaustion: Arquímedes developed the method of exhaustion, a precursor to integral calculus. This method allowed him to calculate areas and volumes of irregular shapes by approximating them with simpler, known shapes.
                  Hydrostatics and the Principle of Buoyancy: Arquímedes formulated the principle of buoyancy, also known as Archimedes' principle. He discovered that an object submerged in a fluid experiences an upward force equal to the weight of the fluid it displaces. This principle explains why objects float or sink in a fluid.                
                  Mechanical Innovations: Arquímedes applied his mathematical knowledge to practical inventions, such as the Archimedes screw, a device used to lift water. He also designed war machines, including the famous "Claw of Archimedes," which was used to defend Syracuse during the Roman siege.
                  
                  
                  </p>
          </div>
        <div class="mathematician-card">
            <img src="assets/heron.jpg" alt="Imagen">
              <h4>Heron of Alexandria</h4>
                 <p>
                  Heron of Alexandria, another influential mathematician, also made significant contributions to mathematics, including algebra. Some of his important contributions include:
                  Heron's Formula: Heron developed a formula for finding the area of a triangle based on its side lengths, known as Heron's formula. This formula is still widely used today.
                  Mechanical Inventions: Heron was known for his mechanical inventions, including the aeolipile, a steam-powered device considered an early precursor to the steam engine. He also designed various machines, such as automatic doors and vending machines.
                  Geometric Constructions: Heron explored geometric constructions and wrote extensively on the subject. He provided methods for constructing various geometric shapes and solving geometric problems.
                </p>
           </div>
    </div>

      <div class="row">
        <div class="col-6">
          <h3>Videos Educativos</h3>
          
            
            <div class="video-container">
              <iframe  src="https://www.youtube.com/embed/-U1LLDhfMxw" frameborder="0"
                allowfullscreen></iframe>
            </div>
          
        </div>
      
        <div class="col-6">
          <h3>Ilustraciones y Gráficos</h3>
          
           
            <div class="illustration-gallery">
              <img src="assets/img3.jpg" alt="Imagen">
            </div>
        
        </div>
      </div>
</div>