@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-quartz.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
/*
header{
  background-color: aqua;
  text-align: center;
}

.navbar{
  color:aliceblue;
  margin-bottom: 10%;
  z-index: 1;
  position:absolute;
}*/

header{
  z-index: 1;
}
body{
  z-index: 0;
  margin: auto;
  height: auto;
}

#lateral{
  background-color: rgba(72, 72, 72, 0.401);
  text-align: center;
}
#lateral button{
  left: 0;
}
#table{
  margin-top: 1%;
}
.lateral-transition {
  transition: width 0.2s ease-in-out;
}

li{
  cursor:pointer;
}
.container-fluid{
  padding: 0px;
}
