p {
  line-height: 1.5;
  text-align: justify;
  font-family: oblique;
}
.video {
  width: 100%;
}
.video iframe{
    width: 100%;
}
/* Estilos para dispositivos de escritorio (PC) */
@media only screen and (min-width: 1024px) {

}

/* Estilos para tabletas */
@media only screen and (min-width: 431px) and (max-width: 1023px) {

}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 430px) {

}
