<!--<div id="switch-language">
  <app-switch-languages></app-switch-languages>
</div>-->
<div class="container text-justify">
  <h1 id="tittle-math">{{'home.content.whatMath'|translate}}</h1>
  <p id="content-math">{{'home.content.whatMathText'|translate}}<br>
      <br>{{'home.content.instead'|translate}}<br>
      ({{'home.content.wikipedia'|translate}})
      <br>

      <br>

  </p>
  <div class="col-6" style="margin-left: 20%;">
    <p style="text-align: center;">{{'home.content.goodVideo'|translate}}</p>
      <iframe width="520px" height="300px"  src="https://www.youtube.com/embed/4N7crqVWNMY"></iframe>
  </div>
  <h2 id="tittle-math-quotes">
      <div class = text-center>{{"home.content.mathQuotes"|translate}}</div>
  </h2>
  <div class="row">
    <p class="col-md-6">
      "{{"home.content.quote1Dirac"|translate}}"<br>
      -Paul Dirac
    </p><br>
    <p class="col-md-5">
      "{{"home.content.quoteNorth"|translate}}"<br>
      -Alfred North Whitehead
      <br>
      <br>
      “{{'home.content.quote2Dirac'|translate}}"<br>
      ― Paul Dirac
  </p>
  </div>


</div>


<div class="container text-justify">
  <h1 id="tittle-physics">{{'home.content.whatPhysics'|translate}}</h1>
  <p id="content-physics"> {{'home.content.whatPhysicsText1'|translate}}<br>
      <br>
      {{'home.content.whatPhysicsText2'|translate}}<br>
      <br>
      {{'home.content.whatPhysicsText3'|translate}}
      <br>
      ({{'home.content.wikipedia'|translate}})
  </p>

</div>


