<!--<div id="switch-language">
  <app-switch-languages></app-switch-languages>
</div>-->
<div class="content">
  <h1>{{"physics-module.history"|translate}}</h1>
  <br>
  <ul id="indice">
    <li><a (click)="selectedPart='Cosmos'">Serie cosmos</a></li>
    <li><a (click)="selectedPart='elDivulgatorio'">El divulgatorio (UdeA)</a></li>
    <li><a (click)="selectedPart='Newton'">Isaac Newton</a></li>
    <li><a (click)="selectedPart='three-body'">Three-body problem</a></li>
    <li><a (click)="selectedPart='double-pendulum'">Double pendulum problem</a></li>
    <li><a (click)="selectedPart='rigid-body'">Rigid body problem</a></li>
    <li><a (click)="selectedPart='Einsteins-theory'">Einstein's theory of relativity</a></li>
    <li><a (click)="selectedPart='Quantum'">Quantum mechanics</a></li>
  </ul>
  <br>
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li><p>"La física te enseña a mirar más allá de lo evidente y a cuestionar lo que parece ser la verdad absoluta." - Carlo Rovelli</p></li>
        <li><p>"En física, lo importante no es cómo lo estás haciendo, sino por qué lo estás haciendo." - Leon M. Lederman</p></li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li><p>"La física es como el ajedrez. Para tener éxito, debes pensar en el próximo movimiento." - Albert Einstein</p></li>
        <li><p>"La física es la llave maestra para desbloquear los secretos del universo." - Stephen Hawking</p></li>
      </ul>
    </div>
  </div>


  <!--
        Cosmos
      -->
  <div id="Cosmos" *ngIf="selectedPart == 'Cosmos'">
    <h3>Serie Cosmos</h3>
    <p>
      La serie "Cosmos" ha sido una influyente franquicia televisiva que ha explorado los misterios del universo y la ciencia desde diferentes perspectivas, desde la visión de Carl Sagan hasta la versión presentada por Neil deGrasse Tyson.</p>
    <div class="row">
      <div class="text col-12 col-md-6">
        <div id="CarlSagan">
          <p>
            <b>Carl Sagan (Cosmos: Un viaje personal):</b>
          </p>
          <ul>
            <li>
              <p>
                "Cosmos: Un viaje personal" es una serie de televisión documental creada por Carl Sagan, Ann Druyan y Steven Soter, que se estrenó en 1980.
              </p>
            </li>
            <li>
              <p>
                Sagan, un astrónomo y divulgador científico, presentó la serie con su característico estilo didáctico y poético, explorando una amplia gama de temas científicos, desde el origen del universo hasta la evolución de la vida en la Tierra.
              </p>
            </li>
            <li>
              <p>
                La serie se centró en temas como el Big Bang, la evolución, la historia de la astronomía, el sistema solar y la búsqueda de vida extraterrestre.
              </p>
            </li>
            <li>
              <p>
                "Cosmos: Un viaje personal" se convirtió en un hito en la divulgación científica, llegando a audiencias de todo el mundo y ganando numerosos premios.
              </p>
            </li>
          </ul>
        </div>
        <div id="NeildeGrasse">
          <p>
            <b>Neil deGrasse Tyson (Cosmos: Una odisea de tiempo y espacio):</b>
          </p>
          <ul>
            <li>
              <p>
                En 2014, se lanzó "Cosmos: Una odisea de tiempo y espacio", una secuela de la serie original, presentada por el astrofísico Neil deGrasse Tyson y producida por Ann Druyan, la viuda de Carl Sagan, junto con Seth MacFarlane.              </p>
            </li>
            <li>
              <p>
                Tyson llevó la serie a una nueva generación de espectadores, manteniendo el espíritu de exploración científica y maravilla cósmica iniciado por Sagan.
              </p>
            </li>
            <li>
              <p>
                La serie abordó temas contemporáneos en la ciencia, como la teoría del cambio climático, la genética y la exploración espacial, así como conceptos fundamentales en la astronomía y la cosmología.
              </p>
            </li>
            <li>
              <p>
                "Cosmos: Una odisea de tiempo y espacio" recibió elogios por su presentación visualmente impresionante, sus efectos especiales avanzados y su capacidad para comunicar conceptos científicos complejos de manera accesible.              </p>
            </li>
          </ul>
        </div>
        <div>
          Link para ver la serie en <a href="https://www.documaniatv.com/ciencia-y-tecnologia/cosmos-carl-sagan-1-en-la-orilla-del-oceano-cosmico-video_3d150ecab.html">www.documaniatv.com/</a>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="one-image">
          <img src="assets/imgs/physics/motivation/CarlSagan.jpg">
        </div>
        <br>
        <hr>
        <br>
        <div class="one-image">
          <img src="assets/imgs/physics/motivation/deGrasse.jpg">
        </div>
      </div>
    </div>

    <!--Carousel tipo 1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/motivation/cosmosImage.jpeg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/motivation/cosmosImage2.webp" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/motivation/cosmosImage3.jpg" alt="Imagen">
      </figure>
    </div>
  </div>
  <!--
    elDivulgatorio
      -->
  <div id="elDivulgatorio" *ngIf="selectedPart == 'elDivulgatorio'">
    <h3>El divulgatorio (UdeA)</h3>
    <p>
      La Universidad de Antioquia, una de las mejores universidades de Colombia, cuenta con muchas personas amantes de la ciencia, el conocimiento y la divulgación.
      Contando así con diferentes grupos dedicados a la divulgación cientifica, grupos pertenecientes a la facultad de ingenieria o ciencias exactas, aqui presentamos uno de estos grupos,
      con el fin de motivar a que revisen sus redes sociales y contenido el cual sirve como base y motivación para estudiar ciencia.
    </p>
    <div class="one-image">
      <a href="https://www.instagram.com/el.divulgatorio/">
        <img src="assets/imgs/physics/motivation/elDivulgatorio.png" alt="elDivulgatorioImage" style="height: 200px;">
      </a>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
        </section>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p>{{'physics-module.mechanics.Galileo.text2.part0'|translate}}</p>
          <p>1. {{'physics-module.mechanics.Galileo.text2.part1'|translate}} </p><br>
          <p>2. {{'physics-module.mechanics.Galileo.text2.part2'|translate}} </p><br>
          <p>3. {{'physics-module.mechanics.Galileo.text2.part3'|translate}} </p><br>
          <p>4. {{'physics-module.mechanics.Galileo.text2.part4'|translate}} </p>
        </div>
      </div>
    </div>
    <div class="row internal-section">
      <div class="row">
        <h3> {{'physics-module.mechanics.Galileo.quotes.title'|translate}} </h3>
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote1'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
      <div class="row">
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote2'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
    </div>
  </div>

  <!--
    Isaac Newton
  -->
  <div id="Newton" *ngIf="selectedPart == 'Newton'">
    <h3>Isaac Newton</h3>
    <p>
      {{'physics-module.mechanics.Newton.text1'|translate}}
    </p>
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_2.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_5.jpg" alt="Imagen">
      </figure>
    </div>
  </div>

  <!--
    Three body problem
  -->
  <div id="three-body" *ngIf="selectedPart == 'three-body'">
    <h3>Three-body problem</h3>
    <p>
      Three-body problem: The gravitational interaction between three celestial bodies is a classic problem in celestial
      mechanics that still has no general analytical solution. The complexity of this problem has led to the development
      of numerical methods and the study of chaotic systems.
    </p>
    <div class="row internal-section">
      <div class="col-6">
        <h4>Video en español</h4>
        <iframe src="https://www.youtube.com/embed/uailf0LCkPk" allowfullscreen></iframe>

      </div>
      <div class="col-6">
        <h4>Video en inglés</h4>
        <iframe src="https://www.youtube.com/embed/D89ngRr4uZg" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!--
    Double pendulum problem
  -->
  <div id="double-pendulum" *ngIf="selectedPart == 'double-pendulum'">
      <h3>Double pendulum problem</h3>
    <p>
      Double pendulum problem: A classic problem in mechanics is the study of the double pendulum, which presents
      chaotic behaviors and is an example of nonlinear dynamic systems.
    </p>
    <div class="row internal-sectiom">
      <div class="col-7">
        <p>El péndulo doble es un sistema dinámico en la física que consta de dos péndulos simples conectados entre sí.
          Este sistema es de interés en la física debido a su comportamiento caótico y a la riqueza de fenómenos
          dinámicos que exhibe. La relación entre el péndulo doble y la física se puede explorar en varios aspectos:</p>
      </div>
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/HcKJT2pGlUE" frameborder="0" allowfullscreen></iframe>
        <p>(video en español)</p>
      </div>
    </div>
  </div>
  <!--
    Rigid body problem
  -->
  <div id="rigid-body" *ngIf="selectedPart == 'rigid-body'">
    <h3>Rigid body problem</h3>
    <p>
      Rigid body problem: The study of rotating rigid bodies has led to the development of rigid mechanics and has found
      applications in engineering and vehicle dynamics.
    </p>
  </div>
  <!--
    Einstein's theory of relativity
  -->
  <div id="Einstein's-theory" *ngIf="selectedPart == 'Einsteins-theory'">
    <h3>Einstein's theory of relativity</h3>
    <p>
      Einstein's theory of relativity: In the early 20th century, Albert Einstein proposed the theory of relativity,
      which transformed the understanding of gravity. The theory of general relativity describes gravity as a curvature
      of space-time caused by the presence of mass and energy.
    </p>
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_7.avif" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_5.jpg" alt="Imagen">
      </figure>
    </div>
  </div>
  <!--
     Quantum mechanics
  -->
  <div id="Quantum" *ngIf="selectedPart == 'Quantum'">
  <h3>Quantum mechanics</h3>
  <p>
    Quantum mechanics: At the subatomic level, quantum mechanics replaced classical mechanics. Developed in the first
    half of the 20th century, quantum mechanics describes the behavior of subatomic particles and has led to
    technologies such as quantum electronics.
  </p>
  <div class="row internal-section">
    <div class="col-4 one-image">
      <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_4.jpg">
    </div>
    <div class="col-8">
      <h5>Double-slit experiment</h5>
      <br>
      <p>
        In modern physics, the double-slit experiment demonstrates that light and matter can satisfy the seemingly
        incongruous classical definitions for both waves and particles, which is considered evidence for the
        fundamentally probabilistic nature of quantum mechanics.
        This type of experiment was first performed by Thomas Young in 1801, as a demonstration of the wave behavior of
        visible light. At that time it was thought that light consisted of either waves or particles. With the beginning
        of modern physics, about a hundred years later,
        it was realized that light could in fact show both wave and particle characteristics. In 1927, Davisson and
        Germer and, independently George Paget Thomson and his research student Alexander Reid demonstrated that
        electrons show the same behavior, which was later extended to atoms and molecules.
        Thomas Young's experiment with light was part of classical physics long before the development of quantum
        mechanics and the concept of wave–particle duality. He believed it demonstrated that Christiaan Huygens' wave
        theory of light was correct, and his experiment is sometimes referred to as Young's experiment or Young's slits.
      </p>
    </div>
  </div>
  <br>
  <div class="gallery">
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_1.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_2.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_3.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_5.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_6.jpg" alt="Imagen">
    </figure>
  </div>
  </div>
</div>



<br>

