<div id="switch-language">
  <app-switch-languages></app-switch-languages>
</div>
<div class="content">
  <h1>{{"physics-module.history"|translate}}</h1>
  <br>
  <br>
  <p>{{'physics-module.history-text'|translate}}</p>
 <!--
        Aristoteles
      -->
  <div id="Aristoteles">
    <h3>Aristotle</h3>
    <p>Aristotle (384-322 BC): Aristotle was one of the first philosophers to address the study of movement. He proposed a geocentric theory in which he believed that objects fell at different speeds depending on their weight, an idea that prevailed for centuries.</p>
    <div class="row">
      <div class="col-6">
        <p>
          <b>The Classical Elements:<br></b>
          The ancient Greeks are often credited with discovering, or at least providing the concept for, the atom. Indeed, one Greek philosopher, Democritus, probably did believe this, or at least provided the theory as a topic for debate. However, the majority of Greeks who gave thought to the subject believed that the smallest unit that anything could be divided into was the element.
          <br>
          <br>
          Aristotle named four elements; fire, air, earth and water. However, for some years after this, philosophers argued which of these four elements was the main one. Thales argued that everything was made of water, while Heraclitus disagreed and claimed that fire was the major element, and Anaximenes refused to believe either and put forward air as the obvious candidate.
        </p>
      </div>
      <div class="col-6">
        <img src="../../../../assets/imgs/Aristotle/AristotleElements_1.png" style="max-width:500px; padding-left: 50px;">
      </div>
    </div>
    <div id="carouselPhysicsAristotle" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide-to="4" aria-label="Slide 4"></button>

      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <img src="../../../../assets/imgs/Aristotle/Aristotle_1.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Aristotle/Aristotle_3.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Aristotle/Aristotle_4.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Aristotle/Aristotle_2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Aristotle/Aristotle_5.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>

      </div>



      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--
    Galileo Galilei
      -->
  <div id="Galileo">
    <h3>Galileo Galilei</h3>
    <p>
      Galileo Galilei (1564-1642): Galileo performed pioneering experiments on the movement and fall of objects. He discovered that all objects, regardless of their mass, fall at the same rate in a uniform gravitational field. He also formulated the laws of motion and laid the foundation for the law of inertia.
    </p>
    <div id="carouselPhysicsGalileo" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide-to="4" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <img src="../../../../assets/imgs/Galileo Galilei/Galileo_1.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Galileo Galilei/Galileo_2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Galileo Galilei/Galileo_3.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Galileo Galilei/Galileo_4.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Galileo Galilei/Galileo_5.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     </div>
  </div>
  <!--
    Isaac Newton
  -->
  <div id="Newton">
    <h3>Isaac Newton</h3>
    <p>
      Isaac Newton (1643-1727): Newton consolidated Galileo's ideas and formulated the laws of motion and the law of universal gravitation. His contributions revolutionized physics and astronomy, providing a mathematical framework for understanding and predicting the motion of objects.
    </p>
    <div id="carouselPhysicsNewton" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide-to="4" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide-to="5" aria-label="Slide 5"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <img src="../../../../assets/imgs/Newton/Newton_1.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Newton/Newton_2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Newton/Newton_3.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Newton/Newton_4.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Newton/Newton_5.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Newton/Newton_6.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPhysicsNewton" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     </div>

  </div>
  <!--
    Three body problem
  -->
  <div id="three-body">
    <h3>Three-body problem</h3>
    <p>
      Three-body problem: The gravitational interaction between three celestial bodies is a classic problem in celestial mechanics that still has no general analytical solution. The complexity of this problem has led to the development of numerical methods and the study of chaotic systems.
    </p>
    <div class="row internal-section">
      <div class="col-6" width="500" height="315">
        <h4>Video en español</h4>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/uailf0LCkPk" frameborder="0" allowfullscreen></iframe>

      </div>
      <div class="col-6">
        <h4>Video en inglés</h4>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/D89ngRr4uZg" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
  <!--
    Double pendulum problem
  -->
  <div id="double-pendulum">
    <h3>Double pendulum problem</h3>
    <p>
      Double pendulum problem: A classic problem in mechanics is the study of the double pendulum, which presents chaotic behaviors and is an example of nonlinear dynamic systems.
    </p>
    <div class="row internal-sectiom">
      <div class="col-7">
        <p>El péndulo doble es un sistema dinámico en la física que consta de dos péndulos simples conectados entre sí. Este sistema es de interés en la física debido a su comportamiento caótico y a la riqueza de fenómenos dinámicos que exhibe. La relación entre el péndulo doble y la física se puede explorar en varios aspectos:</p>
      </div>
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/HcKJT2pGlUE" frameborder="0" allowfullscreen></iframe>
        <p>(video en español)</p>
      </div>

    </div>
  </div>
  <!--
    Rigid body problem
  -->
  <div id="rigid-body">
    <h3>Rigid body problem</h3>
    <p>
      Rigid body problem: The study of rotating rigid bodies has led to the development of rigid mechanics and has found applications in engineering and vehicle dynamics.
    </p>
  </div>
  <!--
    Einstein's theory of relativity
  -->
  <div id="Einstein's-theory">
    <h3>Einstein's theory of relativity</h3>
    <p>
      Einstein's theory of relativity: In the early 20th century, Albert Einstein proposed the theory of relativity, which transformed the understanding of gravity. The theory of general relativity describes gravity as a curvature of space-time caused by the presence of mass and energy.
    </p>
    <div id="carouselPhysicsEinstein" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide-to="4" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide-to="5" aria-label="Slide 5"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <img src="../../../../assets/imgs/Einstein/Einstein_1.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Einstein/Einstein_7.avif" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Einstein/Einstein_3.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Einstein/Einstein_4.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Einstein/Einstein_5.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Einstein/Einstein_6.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPhysicsEinstein" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     </div>
  </div>
  <!--
     Quantum mechanics
  -->
  <div id="Quantum">
    <h3> Quantum mechanics</h3>
    <p>
      Quantum mechanics: At the subatomic level, quantum mechanics replaced classical mechanics. Developed in the first half of the 20th century, quantum mechanics describes the behavior of subatomic particles and has led to technologies such as quantum electronics.
    </p>
    <div class="row internal-section">
      <div class="col-4">
        <img src="../../../../assets/imgs/Quantum/Quantum_4.jpg">
      </div>
      <div class="col-8">
        <h5>Double-slit experiment</h5>
        <br>
        <p>
          In modern physics, the double-slit experiment demonstrates that light and matter can satisfy the seemingly incongruous classical definitions for both waves and particles, which is considered evidence for the fundamentally probabilistic nature of quantum mechanics.
          This type of experiment was first performed by Thomas Young in 1801, as a demonstration of the wave behavior of visible light. At that time it was thought that light consisted of either waves or particles. With the beginning of modern physics, about a hundred years later,
          it was realized that light could in fact show both wave and particle characteristics. In 1927, Davisson and Germer and, independently George Paget Thomson and his research student Alexander Reid demonstrated that electrons show the same behavior, which was later extended to atoms and molecules.
          Thomas Young's experiment with light was part of classical physics long before the development of quantum mechanics and the concept of wave–particle duality. He believed it demonstrated that Christiaan Huygens' wave theory of light was correct, and his experiment is sometimes referred to as Young's experiment or Young's slits.
        </p>
      </div>
    </div>
    <br>
    <div id="carouselPhysicsQuantum" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="4" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <img src="../../../../assets/imgs/Quantum/Quantum_1.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Quantum/Quantum_2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Quantum/Quantum_3.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Quantum/Quantum_5.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/Quantum/Quantum_6.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     </div>

  </div>
  <br>

</div>
