/* Estilo para el carrusel */
.carousel {
  margin-top: auto; /* Ajusta el margen superior según sea necesario */
  height: 460px;
  width: 80%;
  margin:auto;
  z-index: 0;
  background-color:transparent;
}


/* Estilo para la imagen en el carrusel */
.carousel-item img {
  height: 460px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  margin:auto;
}

.carousel-item p{
  color:rgb(0, 0, 0);
  font-weight: bold;
  text-align: justify;
}

/* Cambiar el color de los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
  background-color: transparent; /* Cambia el color de fondo según tus preferencias */
  color: #ffffff; /* Cambia el color del texto según tus preferencias */
  border: none; /* Elimina el borde si lo deseas */
}

/* Cambiar el color de los botones del carrusel al pasar el ratón */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #56565643; /* Cambia el color de fondo al pasar el ratón según tus preferencias */
  color: #ffffff; /* Cambia el color del texto al pasar el ratón según tus preferencias */
}

.content p {
  line-height: 1.5; /*Agregar espacios entre lineas*/
  text-align: justify;
  font-family: oblique;
}
#switch-language{
  max-width: 300px;
  margin-left: 70%;
  background-color: transparent;
}

.internal-section{
  margin-left: 5%;
  margin-right: 5%;
}

