/** Estilo para el indice**/
#indice_1,
#indice_2{
  display: flex; /*Se aplica el estilo para que sepuedan ordenar en una sola fila*/
  flex-direction: row;
  list-style-type: none;
  background-color: rgba(194, 63, 63, 0.294);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#indice_1 li,
#indice_2 li{
  padding: 0px 10px 0px 10px;
}
#indice_1 a,
#indice_2 a{
  cursor: pointer;
}
#indice_1 li:hover,
#indice_2 li:hover{
  background-color: #F9423D;
}
#indice_2{
  margin: 0px 20px 0px 20px;
}
/**Estilos generales**/
.content p {
  line-height: 1.5; /*Agregar espacios entre lineas*/
  text-align: justify;
  font-family: oblique;
}
#switch-language{
  max-width: 300px;
  margin-left: 70%;
  background-color: transparent;
}

.internal-section{
  margin-left: 5%;
  margin-right: 5%;
}
.one-image{
  display: flex;
  justify-content: center;
  /*padding: 0% 5% 0% 5%;*/
}
.one-image img{
  max-width:500px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.one-image img:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}
/**Estilos para el carousel tipo 1**/
.gallery {
  display: flex;
  gap: 1rem;
  max-width: 80rem;
  margin: 2% 5% 0% 5%;
}

.card {
  flex: 2;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--background);
  position: relative;
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.card:hover {
  flex: 3;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}

.card img {
  /*position: relative;*/
  height: 20rem;
  object-fit: cover;
}

.card:nth-child(1) img {
  left: -8rem;
}

.card:nth-child(2) img {
  left: -6rem;
}

.card:nth-child(3) img {
  left: -14rem;
  /*border-radius: 1.2rem;*/
}

.card:nth-child(4) img {
  left: -8rem;
}

#fourth-image-Aristotle:hover{
  flex: 8;
  font-weight: bold;
}


.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4) {
  width: 6rem;
}

/**Estilo para el carousel tipo 2*/
section{
  width: 600px;
  display: flex;
  height: 430px;
}
section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  border-radius: 1rem;
}
section img:hover{
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439)
}

/**Estilo para los videos*/

iframe {
  width: 500px;
  height: 315px;
  border-radius: 1rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  display: flex;
}

iframe:hover{
  width: 490px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
  transition: 0.4s ease-in-out;
}
/**Estilos para el boton de scrollToTop**/
@import "~@fortawesome/fontawesome-free/css/all.css";

#scrollToTopButton{
  position: fixed;
  margin: 20% 10% 0% 85%;
  z-index: 1;
  background-color: transparent;
  padding: auto;
  border: 0;
  width: 60px;
  height: 60px;
  outline: none; /* Evita que se muestre el borde al ser seleccionado */
}
#scrollToTopButton i {
  color: black;
  font-size: 50px;
}
#scrollToTopButton i:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439)}
