
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body *ngIf="(logueadoFunction() == null)  || !logueadoFunction()">
    <div class="row">
      <div id="homeButton" class="col-4">
        <a href=" " class="button button--dark ng-star-inserted" previewlistener="true">mundoSTEM</a>
      </div>
      <div class="col-4">
        <nav>
          <a href="signup" class="button button--dark ng-star-inserted" previewlistener="true">{{'navbar.signup'|translate}}</a>
        </nav>
      </div>
      <div class="col-4">
        <div id="switch-language">
          <app-switch-languages></app-switch-languages>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-wrapper">
          <h2>Login</h2>
          <form action="#" (ngSubmit)="enviarDatos()">
              <div class="form-control">
                  <input type="text" name="email_address" [(ngModel)]="email_address" required>
                  <label>Email</label>
              </div>
              <div class="form-control">
                  <input type="password" name="password" [(ngModel)]="password" required>
                  <label>Password</label>
              </div>
              <button type="submit" >Login</button>
              <!--<input type="submit" value="Login" />-->
              <div class="form-help">
                  <div class="remember-me">
                      <input type="checkbox" id="remember-me">
                      <label for="remember-me">Remember me</label>
                  </div>
                  <a href="#">Need help?</a>
              </div>
          </form>
          <p>New to MundoStem? <a href="signup">Sign up now</a></p>
      </div>
      </div>
      <div class="description col-6">
        <h1>MUNDO STEM</h1>
        <p><b>Ventajas del login:</b>
          <br>
          <br>
        1. Acceso a tablas con datos sobre libros utiles, tratando diferentes temas como los expuestos anteriormente
        (matemáticas,física.programación)
        <br>
        <br>
        2. Contacta con nosotros de una forma mas facil
        <br>
        <br>
        3. Integrate más con los miembros de esta comunidad mundoStem</p>

      </div>
    </div>

</body>

</html>

