
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body *ngIf="(logueadoFunction() == null)  || !logueadoFunction()">
    <div class="row">
      <div id="homeButton" class="col-4">
        <a href=" " class="button button--dark ng-star-inserted" previewlistener="true">mundoSTEM</a>
      </div>
      <div class="col-4">
        <nav>
          <a href="signup" class="button button--dark ng-star-inserted" previewlistener="true">{{'navbar.signup'|translate}}</a>
        </nav>
      </div>
      <div class="col-4">
        <div id="switch-language">
          <app-switch-languages></app-switch-languages>
        </div>
      </div>
    </div>
    <div class="row desktop-mode">
      <div class="form-box col-lg-6 order-lg-1 order-2">
        <div class="form-wrapper">
          <h2>Login</h2>
          <form action="#" (ngSubmit)="enviarDatos()">
              <div class="form-control">
                  <input id="email_address" type="text" name="email_address" [(ngModel)]="email_address" required>
                  <label>{{'login.email'|translate}}</label>
              </div>
              <div class="form-control">
                  <input id="password" type="password" name="password" [(ngModel)]="password" required>
                  <label>{{'login.password'|translate}}</label>
              </div>
              <button type="submit" >{{'login.login'|translate}}</button>
              <!--<input type="submit" value="Login" />-->
              <div class="form-help">
                  <div class="remember-me">
                      <input type="checkbox" id="remember-me">
                      <label for="remember-me">{{'login.rememberMe'|translate}}</label>
                  </div>
                  <a href="#">{{'login.help'|translate}}</a>
              </div>
          </form>
          <p>{{'login.new'|translate}}<a href="signup">{{'login.signUpNow'|translate}}</a></p>
        </div>
      </div>
      <div class="description-box col-lg-6 order-lg-2 order-1">
        <div class="description">
          <h1>MUNDO STEM</h1>
        <p><b>{{'login.advantages'|translate}}</b>
          <br>
          <br>
        1. {{'login.advantage1'|translate}}
        <br>
        <br>
        2. {{'login.advantage2'|translate}}
        <br>
        <br>
        3. {{'login.advantage3'|translate}}</p>
        </div>
      </div>
    </div>
<!--
    <div class="mobile-mode">
      <div class="form-box col-12">
        <div class="form-wrapper">
          <h2>Login</h2>
          <form action="#" (ngSubmit)="enviarDatos()">
              <div class="form-control">
                  <input type="text" name="email_address" [(ngModel)]="email_address" required>
                  <label>{{'login.email'|translate}}</label>
              </div>
              <div class="form-control">
                  <input type="password" name="password" [(ngModel)]="password" required>
                  <label>{{'login.password'|translate}}</label>
              </div>
              <button type="submit" >{{'login.login'|translate}}</button>
              --<input type="submit" value="Login" />--
              <div class="form-help">
                  <div class="remember-me">
                      <input type="checkbox" id="remember-me">
                      <label for="remember-me">{{'login.rememberMe'|translate}}</label>
                  </div>
                  <a href="#">{{'login.help'|translate}}</a>
              </div>
          </form>
          <p>{{'login.new'|translate}}<a href="signup">{{'login.signUpNow'|translate}}</a></p>
        </div>
      </div>
      <div class="description col-12">
        <h1>MUNDO STEM</h1>
        <p><b>{{'login.advantages'|translate}}</b>
          <br>
          <br>
        1. {{'login.advantage1'|translate}}
        <br>
        <br>
        2. {{'login.advantage2'|translate}}
        <br>
        <br>
        3. {{'login.advantage3'|translate}}</p>
      </div>
    </div>-->

</body>

</html>
