<!--
    PENDIENTES
    -Agregar contenido en el resto de la ventana
-->

<body>
  <div class="header row">
    <app-header></app-header>
  </div>
  <!--División para el contenido de la página-->
  <div class="page-container p-4">
    <div class="row">
      <!--Contenido lateral-->
      <div class="lateral-container col-lg-3">
        <app-lateral></app-lateral>
      </div>
      <!--Contenido central-->
      <div class="content-container text-justify col-lg-9">
        <app-content></app-content>
      </div>
    </div>
  </div>
  <!--Footer-->
  <div class="footer-container row">
    <app-footer></app-footer>
  </div>
</body>


