<div class="content">
  <h1>{{"physics-module.history"|translate}}</h1>
  <br>
  <!--Desktop mode for index-->
  <div class="desktop-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='Aristotle'">{{'physics-module.mechanics.Aristotle.title'|translate}}</a></li>
      <li><a (click)="selectedPart='Galileo'">Galileo Galilei</a></li>
      <li><a (click)="selectedPart='Newton'">Isaac Newton</a></li>
      <li><a (click)="selectedPart='three-body'">{{'physics-module.mechanics.threeBody.threeBodyProblem'|translate}}</a></li>
      <li><a (click)="selectedPart='double-pendulum'">{{'physics-module.mechanics.doublePendulum.doublePendulum'|translate}}</a></li>
      <li><a (click)="selectedPart='rigid-body'">{{'physics-module.mechanics.rigidBody.rigidBody'|translate}}</a></li>
      <li><a (click)="selectedPart='Einsteins-theory'">{{'physics-module.mechanics.Einstein.EinsteinTheory'|translate}}</a></li>
      <li><a (click)="selectedPart='Quantum'">{{'physics-module.mechanics.quantumMechanics.quantumMechanics'|translate}}</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='celestial-mechanics'">Mecánica celeste</a></li>
    </ul>
  </div>
  <!--Tablet mode for index-->
  <div class="tablet-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='Aristotle'">{{'physics-module.mechanics.Aristotle.title'|translate}}</a></li>
      <li><a (click)="selectedPart='Galileo'">Galileo Galilei</a></li>
      <li><a (click)="selectedPart='Newton'">Isaac Newton</a></li>
      <li><a (click)="selectedPart='three-body'">{{'physics-module.mechanics.threeBody.threeBodyProblem'|translate}}</a></li>
      <li><a (click)="selectedPart='double-pendulum'">{{'physics-module.mechanics.doublePendulum.doublePendulum'|translate}}</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='rigid-body'">{{'physics-module.mechanics.rigidBody.rigidBody'|translate}}</a></li>
      <li><a (click)="selectedPart='Einsteins-theory'">{{'physics-module.mechanics.Einstein.EinsteinTheory'|translate}}</a></li>
      <li><a (click)="selectedPart='Quantum'">{{'physics-module.mechanics.quantumMechanics.quantumMechanics'|translate}}</a></li>
    </ul>
    <ul id="indice_3">
      <li><a (click)="selectedPart='celestial-mechanics'">Mecánica celeste</a></li>
    </ul>
  </div>
  <!--Mobile mode for index-->
  <div class="mobile-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='Aristotle'">{{'physics-module.mechanics.Aristotle.title'|translate}}</a></li>
      <li><a (click)="selectedPart='Galileo'">Galileo Galilei</a></li>
      <li><a (click)="selectedPart='Newton'">Isaac Newton</a></li>
      <li><a (click)="selectedPart='three-body'">{{'physics-module.mechanics.threeBody.threeBodyProblem'|translate}}</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='double-pendulum'">{{'physics-module.mechanics.doublePendulum.doublePendulum'|translate}}</a></li>
      <li><a (click)="selectedPart='rigid-body'">{{'physics-module.mechanics.rigidBody.rigidBody'|translate}}</a></li>
      <li><a (click)="selectedPart='Einsteins-theory'">{{'physics-module.mechanics.Einstein.EinsteinTheory'|translate}}</a></li>
    </ul>
    <ul id="indice_3">
      <li><a (click)="selectedPart='Quantum'">{{'physics-module.mechanics.quantumMechanics.quantumMechanics'|translate}}</a></li>
      <li><a (click)="selectedPart='celestial-mechanics'">Mecánica celeste</a></li>
    </ul>
  </div>
  <hr>
  <br>
  <!-- Botón para ir al inicio de la página -->
  <button id="scrollToTopButton" (click)="scrollToTop()"><i class="fa-solid fa-chevron-up"></i></button>

  <p>{{'physics-module.mechanics.history-text'|translate}}</p>
  <!--
        Aristoteles
      -->
  <div id="Aristotle" *ngIf="selectedPart == 'Aristotle'">
    <h3>{{'physics-module.mechanics.Aristotle.title'|translate}}</h3>
    <p>{{'physics-module.mechanics.Aristotle.text1'|translate}}</p>
    <div class="row desktop-mode">
        <div class="col-6">
          <p>
            <b>{{'physics-module.mechanics.Aristotle.subtitle1'|translate}}<br></b>
            {{'physics-module.mechanics.Aristotle.text2'|translate}}
            <br>
            <br>
            {{'physics-module.mechanics.Aristotle.text2'|translate}}
          </p>
        </div>
        <div class="col-6 one-image">
          <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_5.jpg">
        </div>
    </div>
    <div class="tablet-mode">
      <div class="col-12">
        <p>
          <b>{{'physics-module.mechanics.Aristotle.subtitle1'|translate}}<br></b>
          {{'physics-module.mechanics.Aristotle.text2'|translate}}
          <br>
          <br>
          {{'physics-module.mechanics.Aristotle.text2'|translate}}
        </p>
      </div>
      <div class="col-12 one-image">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_5.jpg">
      </div>
    </div>
    <div class="mobile-mode">
      <div class="col-12">
        <p>
          <b>{{'physics-module.mechanics.Aristotle.subtitle1'|translate}}<br></b>
          {{'physics-module.mechanics.Aristotle.text2'|translate}}
          <br>
          <br>
          {{'physics-module.mechanics.Aristotle.text2'|translate}}
        </p>
      </div>
      <div class="col-12 one-image">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_5.jpg">
      </div>
    </div>
    <!--Carousel tipo 1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/AristotleElements_1.png" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_4.jpg" alt="Imagen">
      </figure>
      <figure class="card" id="fourth-image-Aristotle">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_2.jpg" alt="Imagen">
      </figure>
    </div>
  </div>
  <!--
    Galileo Galilei
      -->
  <div id="Galileo" *ngIf="selectedPart == 'Galileo'">
    <h3>Galileo Galilei</h3>
    <p>
      {{'physics-module.mechanics.Galileo.text1'|translate}}
    </p>
    <div class="row">
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
        </section>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p>{{'physics-module.mechanics.Galileo.text2.part0'|translate}}</p>
          <p>1. {{'physics-module.mechanics.Galileo.text2.part1'|translate}} </p><br>
          <p>2. {{'physics-module.mechanics.Galileo.text2.part2'|translate}} </p><br>
          <p>3. {{'physics-module.mechanics.Galileo.text2.part3'|translate}} </p><br>
          <p>4. {{'physics-module.mechanics.Galileo.text2.part4'|translate}} </p>
        </div>
      </div>
    </div>
    <div class="row internal-section">
      <div class="row">
        <h3> {{'physics-module.mechanics.Galileo.quotes.title'|translate}} </h3>
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote1'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
      <div class="row">
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote2'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
    </div>
  </div>

  <!--
    Isaac Newton
  -->
  <div id="Newton" *ngIf="selectedPart == 'Newton'">
    <h3>Isaac Newton</h3>
    <p>
      {{'physics-module.mechanics.Newton.text1'|translate}}
    </p>
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_2.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_5.jpg" alt="Imagen">
      </figure>
    </div>
  </div>

  <!--
    Three body problem
  -->
  <div id="three-body" *ngIf="selectedPart == 'three-body'">
    <h3>{{'physics-module.mechanics.threeBody.threeBodyProblem'|translate}}</h3>
    <p>
      {{'physics-module.mechanics.threeBody.text1'|translate}}
    </p>

    <div class="row internal-section">
      <div class="col-12 col-md-6">
        <h4>Video en español</h4>
        <lite-youtube videoid="uailf0LCkPk"></lite-youtube>
        <!--<iframe src="https://www.youtube.com/embed/uailf0LCkPk" allowfullscreen></iframe>-->
      </div>
      <div class="col-12 col-md-6">
        <h4>Video en inglés</h4>
        <lite-youtube videoid="D89ngRr4uZg"></lite-youtube>
        <!--<iframe src="https://www.youtube.com/embed/D89ngRr4uZg" allowfullscreen></iframe>-->
      </div>
    </div>


  </div>
  <!--
    Double pendulum problem
  -->
  <div id="double-pendulum" *ngIf="selectedPart == 'double-pendulum'">
      <h3>{{'physics-module.mechanics.doublePendulum.doublePendulum'|translate}}</h3>
    <p>
      {{'physics-module.mechanics.doublePendulum.text1'|translate}}
    </p>
    <div class="row internal-sectiom">
      <div class="col-12 col-md-7">
        <p>{{'physics-module.mechanics.doublePendulum.text2'|translate}}</p>
      </div>
      <div class="col-12 col-md-5">
        <iframe src="https://www.youtube.com/embed/HcKJT2pGlUE" frameborder="0" allowfullscreen></iframe>
        <p>(video en español)</p>
      </div>
    </div>
  </div>
  <!--
    Rigid body problem
  -->
  <div id="rigid-body" *ngIf="selectedPart == 'rigid-body'">
    <h3>{{'physics-module.mechanics.rigidBody.rigidBody'|translate}}</h3>
    <p>
      {{'physics-module.mechanics.rigidBody.text1'|translate}}
    </p>
  </div>
  <!--
    Einstein's theory of relativity
  -->
  <div id="Einstein's-theory" *ngIf="selectedPart == 'Einsteins-theory'">
    <h3>{{'physics-module.mechanics.Einstein.EinsteinTheory'|translate}}</h3>
    <p>
      {{'physics-module.mechanics.Einstein.text1'|translate}}
    </p>
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_7.avif" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_5.jpg" alt="Imagen">
      </figure>
    </div>
  </div>
  <!--
     Quantum mechanics
  -->
  <div id="Quantum" *ngIf="selectedPart == 'Quantum'">
  <h3>{{'physics-module.mechanics.quantumMechanics.quantumMechanics'|translate}}</h3>
  <p>
    {{'physics-module.mechanics.quantumMechanics.text1'|translate}}
  </p>
  <div class="internal-section">
    <div class="row">
      <div class="col-12 col-md-4 order-2 order-md-1 one-image">
        <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_4.jpg">
      </div>
      <div class="col-12 col-md-8 order-1 order-md-2">
        <h5>{{'physics-module.mechanics.quantumMechanics.subtitle1'|translate}}</h5>
        <br>
        <p>
          {{'physics-module.mechanics.quantumMechanics.text2'|translate}}
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="gallery">
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_1.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_2.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_3.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_5.jpg" alt="Imagen">
    </figure>
    <figure class="card">
      <img src="assets/imgs/physics/mechanics/Quantum/Quantum_6.jpg" alt="Imagen">
    </figure>
  </div>
  </div>
  <!--
     Celestial Mechanics
  -->
  <div id="celestial-mechanics" *ngIf="selectedPart == 'celestial-mechanics'">
    <h3>{{'physics-module.mechanics.celestialMechanics.celestialMechanics'|translate}}</h3>
    <p>
      {{'physics-module.mechanics.celestialMechanics.text1'|translate}}
      <br>
      {{'physics-module.mechanics.celestialMechanics.text2'|translate}}
    </p>
    <div class="internal-section">
      <div class="row">
        <div class="col-12 col-md-6 order-1 order-md-1">
          <h5>{{'physics-module.mechanics.celestialMechanics.subtitle1'|translate}}</h5>
          <br>
          <p>
            {{'physics-module.mechanics.celestialMechanics.text3'|translate}}
          </p>
        </div>
        <div class="col-12 col-md-6 order-2 order-md-2 one-image">
          <a href="https://github.com/DavidOlmos03/fieldsPhysicsITM/blob/main/gravitation/Intensidad_Gravitacional_2D_J_asinh.m"><img src="../../../../assets/imgs/physics/mechanics/Celestial Mechanics/intensityG.png"></a>
        </div>
        <br>
      </div>
      <!--
        <div class="row tablet-mode">
        <div class="col-6">
          <h5>Intensidad gravitacional</h5>
          <br>
          <p>
            Newton fue quien introdujo el concepto de campo gravitacional, que es una descripción matemática de cómo la masa causa una fuerza gravitacional que actúa sobre otras masas en su entorno. Este campo se puede representar mediante un vector que indica la dirección y magnitud de la fuerza gravitacional en cada punto del espacio.
          </p>
        </div>
        <div class="col-6 one-image">
          <a href="https://github.com/DavidOlmos03/fieldsPhysicsITM/blob/main/gravitation/Intensidad_Gravitacional_2D_J_asinh.m"><img src="../../../../assets/imgs/physics/mechanics/Celestial Mechanics/intensityG.png"></a>
        </div>
        <br>
      </div>
      <div class="mobile-mode">
        <div class="col-12">
          <h5>Intensidad gravitacional</h5>
          <br>
          <p>
            Newton fue quien introdujo el concepto de campo gravitacional, que es una descripción matemática de cómo la masa causa una fuerza gravitacional que actúa sobre otras masas en su entorno. Este campo se puede representar mediante un vector que indica la dirección y magnitud de la fuerza gravitacional en cada punto del espacio.
          </p>
        </div>
        <div class="col-12 one-image">
          <a href="https://github.com/DavidOlmos03/fieldsPhysicsITM/blob/main/gravitation/Intensidad_Gravitacional_2D_J_asinh.m"><img src="../../../../assets/imgs/physics/mechanics/Celestial Mechanics/intensityG.png"></a>
        </div>
        <br>
      </div>
      -->


    </div>
    <hr>
    <div class="internal-section">
      <div class="row">
        <div class="col-12 col-md-6 order-2 order-md-1 one-image">
          <a href="https://github.com/DavidOlmos03/fieldsPhysicsITM/blob/main/gravitation/Campo_Gravitacional_3D_J.m"><img src="../../../../assets/imgs/physics/mechanics/Celestial Mechanics/gravitationalField J.png"></a>
        </div>
        <br>
        <div class="col-12 col-md-6 order-1 order-md-2">
          <h5>{{'physics-module.mechanics.celestialMechanics.subtitle2'|translate}}</h5>
          <br>
          <p>
            {{'physics-module.mechanics.celestialMechanics.text4_1'|translate}}
            <br>
            <br>
            {{'physics-module.mechanics.celestialMechanics.text4_2'|translate}}
          </p>
        </div>
      </div>
      <!--
      <div class="row tablet-mode">
        <div class="col-6 one-image">
          <a href="https://github.com/DavidOlmos03/fieldsPhysicsITM/blob/main/gravitation/Campo_Gravitacional_3D_J.m"><img src="../../../../assets/imgs/physics/mechanics/Celestial Mechanics/gravitationalField J.png"></a>
        </div>
        <br>
        <div class="col-6">
          <h5>Potencial gravitacional</h5>
          <br>
          <p>
            El potencial gravitacional, por otro lado, es una función escalar que describe cómo la energía potencial gravitacional cambia en función de la posición en el campo gravitacional. Este concepto es fundamental en la mecánica celeste para calcular el movimiento de los cuerpos celestes.
            <br>
            <br>
            Newton desarrolló estas ideas en su obra principal, "Philosophiæ Naturalis Principia Mathematica" (Principia), publicada en 1687. En esta obra, presentó las ecuaciones que describen la ley de la gravitación universal y cómo se relaciona con el campo gravitacional y el potencial gravitacional.
          </p>
        </div>
      </div>
      <div class="mobile-mode">
        <div class="col-12">
          <h5>Potencial gravitacional</h5>
          <br>
          <p>
            El potencial gravitacional, por otro lado, es una función escalar que describe cómo la energía potencial gravitacional cambia en función de la posición en el campo gravitacional. Este concepto es fundamental en la mecánica celeste para calcular el movimiento de los cuerpos celestes.
            <br>
            <br>
            Newton desarrolló estas ideas en su obra principal, "Philosophiæ Naturalis Principia Mathematica" (Principia), publicada en 1687. En esta obra, presentó las ecuaciones que describen la ley de la gravitación universal y cómo se relaciona con el campo gravitacional y el potencial gravitacional.
          </p>
        </div>
        <div class="col-12 one-image">
          <a href="https://github.com/DavidOlmos03/fieldsPhysicsITM/blob/main/gravitation/Campo_Gravitacional_3D_J.m"><img src="../../../../assets/imgs/physics/mechanics/Celestial Mechanics/gravitationalField J.png"></a>
        </div>
        <br>
      </div>
      -->
    </div>
    <br>
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_2.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_5.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_6.jpg" alt="Imagen">
      </figure>
    </div>
    </div>

</div>

<br>
