nav {
  position: fixed;
  height: 100px;
  width: 100%;
}


li:hover{
  background-color: #F9423D;
}

ul .dropdown-item:hover{
  background-color: #F9423D;
}

.active-link {
  background-color: #F9423D; /* Color personalizado */
}

/* Estilos para dispositivos de escritorio (PC) */
@media only screen and (min-width: 1024px) {
  .switch-language{
    background-color: #f9433d78;
    border-radius: 5%;
    margin-left: 80%;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 431px) and (max-width: 1023px) {
  .exit{
    margin: auto;
  }
  .switch-language{
    background-color: #f9433d78;
    border-radius: 5%;
    margin-left: 80%;
  }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 430px) {
  /* Agrega tus estilos para móviles aquí */
  nav{
    max-width: 430px;
  }
  li{
    text-align: center;
  }
  .switch-language{
    background-color: #f9433d78;
    border-radius: 5%;
    margin-left: 70%;
    max-width: 20%;
  }
  .switch-language option{
    max-width: 20%;
  }
}
