/*
    MENU
*/
/*
.navbar-container{
  width: 100%;
  position: static;
}
.buttons{
  margin-left: 30%;
}
.login{
  position: absolute;
  width: 100%;
  z-index: 2;
}
.signup{
  position: absolute;
  width: 100%;
  z-index: 2;
}*/
nav {
  position: fixed;
  height: 100px;
  width: 98%;
}
.navbar{
  width: 60;
}

.buttons{
  margin-left: 30%;
}
.exit{
  margin-left: 45%;
}

.switch-languages{
  position: fixed;
  width: 5%;
  padding-left: 30%;
}

li:hover{
  background-color: #F9423D;
}

ul .dropdown-item:hover{
  background-color: #F9423D;
}
