<!--<div id="switch-language">
  <app-switch-languages></app-switch-languages>
</div>-->
<div class="content">
  <h1>{{"physics-module.history"|translate}}</h1>
  <br>
  <br>
  <p>La historia de la física computacional está estrechamente ligada al desarrollo de la computación y la física teórica y experimental. Aquí hay algunos hitos importantes:</p>
 <!--
        Aristoteles
      -->
  <div id="Aristoteles">
    <h3>Década de 1940-1950:</h3>
    <p>
      La década de 1940-1950 fue un período crucial para el desarrollo de la física computacional, marcado por avances significativos que sentaron las bases para la utilización de computadoras en la resolución de problemas físicos y científicos. Aquí hay una descripción y algunos hechos importantes de este período:</p>
    <div class="row">
      <div class="col-6">
        <p>
          <b>La invención de la computadora electrónica:<br></b>
           Uno de los hitos más importantes fue la invención de la computadora electrónica. Durante la Segunda Guerra Mundial, se desarrollaron varias máquinas para cálculos balísticos y criptográficos, entre ellas el Colossus en el Reino Unido y la ENIAC en los Estados Unidos. Estas computadoras representaron un cambio radical en la forma en que se realizaban los cálculos y sentaron las bases para la física computacional moderna.
          <br>
          <br>
          <b>El ENIAC y el inicio de la física computacional: <br></b>
          El Electronic Numerical Integrator and Computer (ENIAC), completado en 1945, fue una de las primeras computadoras electrónicas de propósito general. Fue utilizado para una variedad de cálculos científicos, incluyendo simulaciones de explosiones nucleares y trayectorias de proyectiles. Esto marcó el comienzo de la aplicación de la computación en la física.
          <br>
          <br>
          <b>Desarrollo de métodos numéricos: <br></b>
          Durante este período, se desarrollaron y refinaron diversos métodos numéricos para resolver ecuaciones diferenciales y otros problemas físicos. Esto incluyó métodos como el método de Euler, el método de Runge-Kutta, y métodos específicos para la solución de ecuaciones diferenciales parciales, como el método de diferencias finitas.
          <br>
          <br>
        </p>
      </div>
      <div class="col-6">
        <!--carousel tipo1-->
        <div class="gallery">
          <figure class="card">
            <img src="assets/imgs/physics/mechanics/Newton/Newton_1.jpg" alt="Imagen">
          </figure>
          <figure class="card">
            <img src="assets/imgs/physics/mechanics/Newton/Newton_2.jpg" alt="Imagen">
          </figure>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg"alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
        </section>
      </div>
      <div class="col-6">
        <p>
          <b>Aplicaciones en física teórica y experimental: <br></b>
          La física computacional comenzó a utilizarse en una amplia gama de áreas, incluyendo física teórica y experimental. Por ejemplo, se utilizaron métodos computacionales para simular sistemas físicos complejos, como el comportamiento de los fluidos, el movimiento de los planetas, y la estructura atómica y molecular.
          <br>
          <br>
          <b>Desarrollo de lenguajes de programación: <br></b>
          Durante este período, también se desarrollaron los primeros lenguajes de programación de alto nivel, como el lenguaje ensamblador y el Fortran. Estos lenguajes facilitaron el desarrollo de software para la física computacional y permitieron a los científicos expresar sus algoritmos de manera más clara y concisa.
          <br>
          <br>
          <b>Contribuciones a la física de partículas y la astrofísica: <br></b>
          La física computacional desempeñó un papel importante en el avance de la física de partículas y la astrofísica. Por ejemplo, se utilizaron métodos computacionales para simular la colisión de partículas subatómicas en aceleradores de partículas y para modelar la evolución estelar y la formación de galaxias.
          <br>
          <br>
        </p>
      </div>
    </div>
  <!--
    Galileo Galilei
      -->
  <div id="Galileo">
    <h3>Galileo Galilei</h3>
    <p>
      {{'physics-module.mechanics.Galileo.text1'|translate}}
    </p>
    <div class="row">
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg"alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
        </section>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p>{{'physics-module.mechanics.Galileo.text2.part0'|translate}}</p>
          <p>1. {{'physics-module.mechanics.Galileo.text2.part1'|translate}} </p><br>
          <p>2. {{'physics-module.mechanics.Galileo.text2.part2'|translate}} </p><br>
          <p>3. {{'physics-module.mechanics.Galileo.text2.part3'|translate}} </p><br>
          <p>4. {{'physics-module.mechanics.Galileo.text2.part4'|translate}} </p>
        </div>
      </div>
    </div>
    <div class="row internal-section">
      <div class="row">
        <h3> {{'physics-module.mechanics.Galileo.quotes.title'|translate}} </h3>
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote1'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
      <div class="row">
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote2'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
    </div>

    <!--
      <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_5.jpg" alt="Imagen">
      </figure>
    </div>
    -->


  <!--
    Isaac Newton
  -->
  <div id="Newton">
    <h3>Isaac Newton</h3>
    <p>
      {{'physics-module.mechanics.Newton.text1'|translate}}
    </p>
    <!--carousel tipo1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_2.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_5.jpg" alt="Imagen">
      </figure>
    </div>
  </div>

  <!--
    Three body problem
  -->
  <div id="three-body">
    <h3>Three-body problem</h3>
    <p>
      Three-body problem: The gravitational interaction between three celestial bodies is a classic problem in celestial mechanics that still has no general analytical solution. The complexity of this problem has led to the development of numerical methods and the study of chaotic systems.
    </p>
    <div class="row internal-section">
      <div class="col-6">
        <h4>Video en español</h4>
        <iframe src="https://www.youtube.com/embed/uailf0LCkPk" allowfullscreen></iframe>

      </div>
      <div class="col-6">
        <h4>Video en inglés</h4>
        <iframe src="https://www.youtube.com/embed/D89ngRr4uZg" allowfullscreen></iframe>
      </div>
    </div>

  </div>
  <!--
    Double pendulum problem
  -->
  <div id="double-pendulum">
    <h3>Double pendulum problem</h3>
    <p>
      Double pendulum problem: A classic problem in mechanics is the study of the double pendulum, which presents chaotic behaviors and is an example of nonlinear dynamic systems.
    </p>
    <div class="row internal-sectiom">
      <div class="col-7">
        <p>El péndulo doble es un sistema dinámico en la física que consta de dos péndulos simples conectados entre sí. Este sistema es de interés en la física debido a su comportamiento caótico y a la riqueza de fenómenos dinámicos que exhibe. La relación entre el péndulo doble y la física se puede explorar en varios aspectos:</p>
      </div>
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/HcKJT2pGlUE" frameborder="0" allowfullscreen></iframe>
        <p>(video en español)</p>
      </div>

    </div>
  </div>
  <!--
    Rigid body problem
  -->
  <div id="rigid-body">
    <h3>Rigid body problem</h3>
    <p>
      Rigid body problem: The study of rotating rigid bodies has led to the development of rigid mechanics and has found applications in engineering and vehicle dynamics.
    </p>
  </div>
  <!--
    Einstein's theory of relativity
  -->
  <div id="Einstein's-theory">
    <h3>Einstein's theory of relativity</h3>
    <p>
      Einstein's theory of relativity: In the early 20th century, Albert Einstein proposed the theory of relativity, which transformed the understanding of gravity. The theory of general relativity describes gravity as a curvature of space-time caused by the presence of mass and energy.
    </p>
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_7.avif" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Einstein/Einstein_5.jpg" alt="Imagen">
      </figure>
    </div>
  </div>
</div>


  <!--
     Quantum mechanics
  -->
  <div id="Quantum">
    <h3> Quantum mechanics</h3>
    <p>
      Quantum mechanics: At the subatomic level, quantum mechanics replaced classical mechanics. Developed in the first half of the 20th century, quantum mechanics describes the behavior of subatomic particles and has led to technologies such as quantum electronics.
    </p>
    <div class="row internal-section">
      <div class="col-4 one-image">
        <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_4.jpg">
      </div>
      <div class="col-8">
        <h5>Double-slit experiment</h5>
        <br>
        <p>
          In modern physics, the double-slit experiment demonstrates that light and matter can satisfy the seemingly incongruous classical definitions for both waves and particles, which is considered evidence for the fundamentally probabilistic nature of quantum mechanics.
          This type of experiment was first performed by Thomas Young in 1801, as a demonstration of the wave behavior of visible light. At that time it was thought that light consisted of either waves or particles. With the beginning of modern physics, about a hundred years later,
          it was realized that light could in fact show both wave and particle characteristics. In 1927, Davisson and Germer and, independently George Paget Thomson and his research student Alexander Reid demonstrated that electrons show the same behavior, which was later extended to atoms and molecules.
          Thomas Young's experiment with light was part of classical physics long before the development of quantum mechanics and the concept of wave–particle duality. He believed it demonstrated that Christiaan Huygens' wave theory of light was correct, and his experiment is sometimes referred to as Young's experiment or Young's slits.
        </p>
      </div>
    </div>
    <br>
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_2.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_5.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Quantum/Quantum_6.jpg" alt="Imagen">
      </figure>
    </div>
    <!--
      <div id="carouselPhysicsQuantum" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide-to="4" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_1.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_3.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_5.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img src="../../../../assets/imgs/physics/mechanics/Quantum/Quantum_6.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPhysicsQuantum" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
     </div>
    -->


  </div>
  <br>

</div>

