/**Estilos generales**/
.content p {
  line-height: 1.5; /*Agregar espacios entre lineas*/
  text-align: justify;
  font-family: oblique;
}
#switch-language{
  max-width: 300px;
  margin-left: 70%;
  background-color: transparent;
}

.internal-section{
  margin-left: 5%;
  margin-right: 5%;
}
.one-image{
  display: flex;
  justify-content: center;
  /*padding: 0% 5% 0% 5%;*/
}
.one-image img{
  max-width:500px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.one-image img:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}

/**Estilos para el carousel tipo 1**/
.gallery {
  display: flex;
  gap: 1rem;
  max-width: 80rem;
  margin: 2% 5% 0% 5%;
}

.card {
  flex: 2;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--background);
  position: relative;
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.card:hover {
  flex: 3;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}

.card img {
  /*position: relative;*/
  height: 20rem;
  object-fit: cover;
}

.card:nth-child(1) img {
  left: -8rem;
}

.card:nth-child(2) img {
  left: -6rem;
}

.card:nth-child(3) img {
  left: -14rem;
  /*border-radius: 1.2rem;*/
}

.card:nth-child(4) img {
  left: -8rem;
}

#fourth-image-Aristotle:hover{
  flex: 8;
  font-weight: bold;
}


.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4) {
  width: 6rem;
}

/**Estilo para el carousel tipo 2*/
section{
  width: 100%;
  display: flex;
  height: 430px;
}
section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .8;
  border-radius: 1rem;
}
section img:hover{
  opacity: 1;
}

section a{
  width: 0px;
  flex-grow: 1;
  transition: .5s ease;
  border-radius: 1rem;
}

section a:hover{
  width: 300px;
  filter: contrast(120%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439)
}

/**Estilo para los videos*/

iframe {
  width: 100%;
  height: 315px;
  border-radius: 1rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  display: flex;
}

iframe:hover{
  width: 490px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
  transition: 0.4s ease-in-out;
}

/**Control de modo responsive**/

/* Estilos para dispositivos de escritorio (PC) */
@media only screen and (min-width: 1024px) {
  .tablet-mode{
    display: none;
  }
  .mobile-mode {
    display: none; /* Por defecto, oculto */
  }
  /** Estilo para el indice**/
  #indice_1,
  #indice_2{
    display: flex; /*Se aplica el estilo para que sepuedan ordenar en una sola fila*/
    flex-direction: row;
    list-style-type: none;
    background-color: rgba(194, 63, 63, 0.294);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  #indice_1 li,
  #indice_2 li{
    padding: 0px 10px 0px 10px;
  }
  #indice_1 a,
  #indice_2 a{
    cursor: pointer;
  }
  #indice_1 li:hover,
  #indice_2 li:hover{
    background-color: #F9423D;
  }
  #indice_2{
    margin: 0px 20px 0px 20px;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 471px) and (max-width: 1023px) {
  .desktop-mode {
    display: none; /* Ocultar contenido para desktop */
  }
  .mobile-mode {
    display: none; /* Mostrar contenido para móviles */
  }
    /** Estilo para el indice**/
  #indice_1,
  #indice_2,
  #indice_3{
    display: flex; /*Se aplica el estilo para que sepuedan ordenar en una sola fila*/
    flex-direction: row;
    list-style-type: none;
    background-color: rgba(194, 63, 63, 0.294);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  #indice_1 li,
  #indice_2 li,
  #indice_3 li{
    padding: 0px 10px 0px 10px;
  }
  #indice_1 a,
  #indice_2 a,
  #indice_3 a{
    cursor: pointer;
  }
  #indice_1 li:hover,
  #indice_2 li:hover,
  #indice_3 li:hover{
    background-color: #F9423D;
  }
  #indice_3{
    margin: 0px 20px 0px 20px;
  }
  /**Estilos para el carousel tipo 1**/
  .card:hover {
    flex: 60%;
  }

  #fourth-image-Aristotle:hover{
    flex: 100%;
  }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 470px) {
  .desktop-mode {
    display: none; /* Ocultar contenido para desktop */
  }
  .tablet-mode{
    display: none;
  }
  .mobile-mode {
    display: block; /* Mostrar contenido para móviles */
  }
   /** Estilo para el indice**/
  #indice_1,
  #indice_2,
  #indice_3{
    display: flex; /*Se aplica el estilo para que sepuedan ordenar en una sola fila*/
    flex-direction: row;
    list-style-type: none;
    background-color: rgba(194, 63, 63, 0.294);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  #indice_1 li,
  #indice_2 li,
  #indice_3 li{
    padding: 0px 10px 0px 10px;
  }
  #indice_1 a,
  #indice_2 a,
  #indice_3 a{
    cursor: pointer;
  }
  #indice_1 li:hover,
  #indice_2 li:hover,
  #indice_3 li:hover{
    background-color: #F9423D;
  }
  #indice_3{
    margin: 0px 20px 0px 20px;
  }

  /**Estilos para el carousel tipo 1**/
  .card{
    min-height: 280px;
  }
  .card:hover {
    flex: 80%;
    max-height: 100%;
  }

  #fourth-image-Aristotle:hover{
    flex: 80%;
  }

  .gallery {
    max-height: 300px;
  }

}
