<!--<div id="switch-language">
  <app-switch-languages></app-switch-languages>
</div>-->
<div class="content">
  <h1>{{"physics-module.history"|translate}}</h1>
  <br>

  <!--Desktop mode for index-->
  <div class="desktop-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='1940-1950'">Década de 1940-1950</a></li>
      <li><a (click)="selectedPart='simulation'">Simulación de sistemas físicos</a></li>
      <li><a (click)="selectedPart='1980-1990'">Década 1980-1990</a></li>
      <li><a (click)="selectedPart='XXI'">Modelización y predicción</a></li>
      <li><a (click)="selectedPart='materialDesing'">Diseño de materiales</a></li>
      <li><a (click)="selectedPart='dataAnalisis'">Análisis de datos</a></li>
    </ul>
  </div>
  <!--Tablet mode for index-->
  <div class="tablet-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='1940-1950'">Década de 1940-1950</a></li>
      <li><a (click)="selectedPart='simulation'">Simulación de sistemas físicos</a></li>
      <li><a (click)="selectedPart='1980-1990'">Década 1980-1990</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='XXI'">Modelización y predicción</a></li>
      <li><a (click)="selectedPart='materialDesing'">Diseño de materiales</a></li>
      <li><a (click)="selectedPart='dataAnalisis'">Análisis de datos</a></li>
    </ul>
  </div>
  <!--Mobile mode for index-->
  <div class="mobile-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='1940-1950'">Década de 1940-1950</a></li>
      <li><a (click)="selectedPart='simulation'">Simulación de sistemas físicos</a></li>
      <li><a (click)="selectedPart='1980-1990'">Década 1980-1990</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='XXI'">Modelización y predicción</a></li>
      <li><a (click)="selectedPart='materialDesing'">Diseño de materiales</a></li>
      <li><a (click)="selectedPart='dataAnalisis'">Análisis de datos</a></li>
    </ul>
  </div>
  <br>
  <p>La historia de la física computacional está estrechamente ligada al desarrollo de la computación y la física teórica y experimental. Aquí hay algunos hitos importantes:</p>
  <!--
    Década de 1940-1950
  -->
  <div id="1940-1950" *ngIf="selectedPart == '1940-1950'">
    <h3>Década de 1940-1950:</h3>
    <p>
      La década de 1940-1950 fue un período crucial para el desarrollo de la física computacional, marcado por avances significativos que sentaron las bases para la utilización de computadoras en la resolución de problemas físicos y científicos. Aquí hay una descripción y algunos hechos importantes de este período:</p>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <p>
          <b>La invención de la computadora electrónica:<br></b>
           Uno de los hitos más importantes fue la invención de la computadora electrónica. Durante la Segunda Guerra Mundial, se desarrollaron varias máquinas para cálculos balísticos y criptográficos, entre ellas el Colossus en el Reino Unido y la ENIAC en los Estados Unidos. Estas computadoras representaron un cambio radical en la forma en que se realizaban los cálculos y sentaron las bases para la física computacional moderna.
          <br>
          <br>
          <b>El ENIAC y el inicio de la física computacional: <br></b>
          El Electronic Numerical Integrator and Computer (ENIAC), completado en 1945, fue una de las primeras computadoras electrónicas de propósito general. Fue utilizado para una variedad de cálculos científicos, incluyendo simulaciones de explosiones nucleares y trayectorias de proyectiles. Esto marcó el comienzo de la aplicación de la computación en la física.
          <br>
          <br>
          <b>Desarrollo de métodos numéricos: <br></b>
          Durante este período, se desarrollaron y refinaron diversos métodos numéricos para resolver ecuaciones diferenciales y otros problemas físicos. Esto incluyó métodos como el método de Euler, el método de Runge-Kutta, y métodos específicos para la solución de ecuaciones diferenciales parciales, como el método de diferencias finitas.
          <br>
          <br>
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <!--carousel tipo 1-->
        <div class="gallery">
          <figure class="card" (mouseenter)="onMouseEnter(0)" (mouseleave)="onMouseLeave()">
            <img src="assets/imgs/physics/computational/colosus.webp" alt="Imagen" id="imagen">
            <figcaption *ngIf="hovered !== null && hovered == 0" id="texto">{{texts[hovered]}}</figcaption>
          </figure>
          <figure class="card" (mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave()">
            <img src="assets/imgs/physics/computational/ENIAC.jpg" alt="Imagen" id="imagen">
            <figcaption *ngIf="hovered !== null && hovered == 1" id="texto">{{texts[hovered]}}</figcaption>
          </figure>
        </div>

      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-6 order-2 order-md-1">
        <!--Carousel tipo 2-->
        <section>
          <a href="https://www.mat.ucm.es/~infante/libro/libro.htm">
            <img src="assets/imgs/physics/computational/numberMethods.jpg" alt="Imagen" (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave()">
          </a>
          <a href="https://www.comsol.com/video/cfd-software-advanced-flow-simulations">
            <img src="assets/imgs/physics/computational/flowSimulation.jpg" alt="Imagen" (mouseenter)="onMouseEnter(3)" (mouseleave)="onMouseLeave()">
          </a>
          <a href="https://facts.net/tech-and-sciences/10-facts-you-must-know-about-fortran/">
            <img src="assets/imgs/physics/computational/fortran.jpg"alt="Imagen" (mouseenter)="onMouseEnter(4)" (mouseleave)="onMouseLeave()">
          </a>
          <a href="https://home.cern/news/news/accelerators/protons-smash-lead-ions-first-lhc-collisions-2013">
            <img src="assets/imgs/physics/computational/particlesCollision.jpg" alt="Imagen"(mouseenter)="onMouseEnter(5)" (mouseleave)="onMouseLeave()">
          </a>
        </section>
        <figcaption *ngIf="hovered !== null" id="texto"><b>{{texts[hovered]}}</b></figcaption>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <p>
          <b>Aplicaciones en física teórica y experimental: <br></b>
          La física computacional comenzó a utilizarse en una amplia gama de áreas, incluyendo física teórica y experimental. Por ejemplo, se utilizaron métodos computacionales para simular sistemas físicos complejos, como el comportamiento de los fluidos, el movimiento de los planetas, y la estructura atómica y molecular.
          <br>
          <br>
          <b>Desarrollo de lenguajes de programación: <br></b>
          Durante este período, también se desarrollaron los primeros lenguajes de programación de alto nivel, como el lenguaje ensamblador y el Fortran. Estos lenguajes facilitaron el desarrollo de software para la física computacional y permitieron a los científicos expresar sus algoritmos de manera más clara y concisa.
          <br>
          <br>
          <b>Contribuciones a la física de partículas y la astrofísica: <br></b>
          La física computacional desempeñó un papel importante en el avance de la física de partículas y la astrofísica. Por ejemplo, se utilizaron métodos computacionales para simular la colisión de partículas subatómicas en aceleradores de partículas y para modelar la evolución estelar y la formación de galaxias.
          <br>
          <br>
        </p>
      </div>
    </div>
  </div>
  <!--
    Década de 1960
  -->
  <div id="simulation" *ngIf="selectedPart == 'simulation'">
    <h3>Simulación de sistemas físicos:</h3>
    <p>
      Durante los años 1960 y 1970, los avances en la simulación de sistemas físicos fueron significativos. Los físicos y científicos computacionales desarrollaron métodos numéricos más precisos y eficientes, lo que permitió modelar una amplia gama de fenómenos físicos con mayor fidelidad y detalle. Desde la dinámica molecular hasta la mecánica de fluidos computacional, estas décadas fueron testigos de un crecimiento considerable en la capacidad de simular y comprender los sistemas físicos a través de la computación.
    </p>
    <div class="row">
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          </a>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          </a>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg"alt="Imagen">
          </a>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
          </a>

        </section>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p>1. Desarrollo de métodos numéricos avanzados: </p>
          <p>Durante estos años, se introdujeron y perfeccionaron diversos métodos numéricos para resolver ecuaciones diferenciales, integración numérica y simulación de sistemas físicos. Estos incluyen métodos como el método de elementos finitos, el método de diferencias finitas y el método de Monte Carlo.
          </p><br>
          <p>2. Dinámica molecular:</p><br>
          <p>La simulación de la dinámica molecular experimentó un importante avance durante este período. Los físicos comenzaron a simular sistemas atómicos y moleculares a nivel microscópico, lo que permitió estudiar las propiedades de los materiales a una escala molecular y entender fenómenos como la difusión molecular, la formación de cristales y las transiciones de fase.</p><br>
          <p>3. Mecánica de fluidos computacional (CFD):</p><br>
          <p>La CFD se desarrolló como un campo importante de la física computacional en este período. Los físicos comenzaron a utilizar métodos numéricos para resolver las ecuaciones de Navier-Stokes, permitiendo la simulación de flujos de fluidos complejos, como la aerodinámica, la hidrodinámica y los flujos turbulentos.</p><br>
        </div>
      </div>
      <p>4. Simulación de sistemas astrofísicos:</p><br>
      <p>La capacidad de simular sistemas astrofísicos también mejoró durante estas décadas. Se desarrollaron modelos numéricos para estudiar la formación de estrellas y galaxias, la evolución de los sistemas planetarios y la dinámica de los agujeros negros, lo que permitió avanzar en nuestra comprensión del universo a escalas cósmicas.</p><br>
      <p>En resumen, los años 1960 y 1970 fueron testigos de avances significativos en la simulación de sistemas físicos, gracias al desarrollo de métodos numéricos más avanzados y al aumento en la capacidad de procesamiento computacional. Estos avances sentaron las bases para el crecimiento posterior de la física computacional y su aplicación en una amplia variedad de disciplinas científicas.</p><br>
    </div>
  </div>
  <!--
    Década de 1980-1990
  -->
  <div id="1980-1990" *ngIf="selectedPart == '1980-1990'">
    <h3>Década de 1980-1990:</h3>
    <p>Durante la década de 1980 y 1990, la física computacional maduró como un campo establecido e influyente en la investigación científica. La disponibilidad de supercomputadoras y el desarrollo de algoritmos más eficientes permitieron la simulación de sistemas físicos a escalas cada vez mayores y con una precisión sin precedentes. Desde la dinámica molecular hasta la cosmología computacional, esta década fue testigo de avances significativos en nuestra capacidad para modelar y comprender una amplia gama de fenómenos físicos a través de la computación.</p>
    <div class="row" id="col-md-6">
      <p><b>1. Avances en la simulación de materiales:</b></p>
      <p>Durante la década de 1980 y 1990, se realizaron progresos significativos en la simulación de materiales, permitiendo el diseño y la optimización de materiales con propiedades específicas. Esto incluye materiales superconductores, materiales para electrónica y materiales compuestos, entre otros.</p>
      <p><b>2.Expansión de la mecánica de fluidos computacional (CFD):</b></p>
      <p>La CFD experimentó un crecimiento notable durante este período, con aplicaciones en una amplia gama de industrias, desde la aerodinámica hasta la ingeniería de procesos. Se desarrollaron algoritmos más eficientes y se mejoraron los modelos para simular flujos turbulentos y multifásicos.</p>
      <p><b>3. Simulación de sistemas astrofísicos a gran escala:</b></p>
      <p>La década de 1980 y 1990 vio un aumento en la capacidad de simular sistemas astrofísicos a gran escala, como la formación de galaxias, la evolución estelar y la cosmología computacional. Se utilizaron supercomputadoras para realizar simulaciones detalladas de la estructura y evolución del universo.</p>
      <p><b>4. Aplicaciones en la física de partículas:</b></p>
      <p>La física computacional desempeñó un papel importante en la simulación y el análisis de datos de experimentos de física de partículas, como los realizados en aceleradores de partículas como el CERN. Se utilizaron técnicas de simulación para estudiar la física de partículas elementales y para predecir los resultados de experimentos de alta energía.</p>
      <p><b>5. Desarrollo de métodos numéricos avanzados:</b></p>
      <p>Durante esta década, se desarrollaron y refinaron métodos numéricos avanzados para resolver una amplia variedad de problemas físicos. Esto incluye métodos de integración numérica, métodos de elementos finitos y técnicas de optimización, entre otros.</p>
      <p>En resumen, la década de 1980 y 1990 fue un período de avance significativo en la física computacional, con progresos notables en la simulación de sistemas físicos a escalas diversas y con una precisión cada vez mayor. Estos avances sentaron las bases para el continuo crecimiento y desarrollo del campo en el siglo XXI.</p>
    </div>
    <div class="row internal-section">
      <div class="col-12 col-md-6">
        <h4>Video en español</h4>
        <iframe src="https://www.youtube.com/embed/uailf0LCkPk" allowfullscreen></iframe>

      </div>
      <div class="col-12 col-md-6">
        <h4>Video en inglés</h4>
        <iframe src="https://www.youtube.com/embed/D89ngRr4uZg" allowfullscreen></iframe>
      </div>
    </div>

  </div>
  <!--
    Siglo XXI
  -->
  <div id="XXI" *ngIf="selectedPart == 'XXI'">
    <h3>Modelización y predicción:</h3>
    <p>En el siglo XXI, la física computacional se ha convertido en una herramienta fundamental para la modelización y predicción de una amplia gama de fenómenos físicos. Gracias al aumento exponencial en la potencia de cálculo y al desarrollo de algoritmos más sofisticados, los científicos pueden simular sistemas físicos con una precisión y detalle sin precedentes. Desde la predicción del cambio climático hasta la evolución de las estrellas en el universo, la física computacional ha permitido a los investigadores entender y prever el comportamiento de la naturaleza a escalas que antes eran inimaginables.</p>
    <p><b>Predicción del cambio climático:</b></p>
    <p>La física computacional ha desempeñado un papel crucial en la modelización del clima y la predicción del cambio climático. Los modelos climáticos globales, alimentados por datos observacionales y simulaciones numéricas, permiten a los científicos entender cómo los factores naturales y humanos afectan el clima y realizar predicciones sobre futuros escenarios climáticos.</p>
    <p><b>Modelización de sistemas biológicos:</b></p>
    <p>La física computacional también se utiliza en la modelización de sistemas biológicos, desde la dinámica de proteínas y moléculas hasta la simulación de redes genéticas. Estos modelos ayudan a los investigadores a comprender procesos biológicos complejos y a diseñar nuevas terapias y tratamientos médicos.</p>
    <p><b>Predicción de desastres naturales: </b></p>
    <p>Mediante la simulación de fenómenos naturales como terremotos, tsunamis y huracanes, la física computacional contribuye a la predicción y mitigación de desastres naturales. Los modelos numéricos permiten a los científicos evaluar el riesgo de eventos catastróficos y tomar medidas preventivas para proteger vidas y propiedades.</p>
    <p><b>Simulación de la evolución estelar y galáctica:</b></p>
    <p>En la astrofísica, la física computacional se utiliza para simular la evolución de estrellas y galaxias a lo largo del tiempo cósmico. Estas simulaciones proporcionan información invaluable sobre la formación y evolución del universo, así como sobre la distribución de la materia y la energía en el cosmos.</p>
    <p><b>Modelización de sistemas socioeconómicos: </b></p>
    <p>Además, la física computacional se aplica en la modelización de sistemas socioeconómicos, como la propagación de enfermedades, la dinámica de mercados financieros y la planificación urbana. Estos modelos ayudan a los responsables políticos y planificadores a tomar decisiones informadas y a anticipar posibles consecuencias de políticas y acciones.</p>
    <div class="row internal-sectiom">
      <div class="col-12 col-md-7 order-2 order-md-1">
        <p>En resumen, en el siglo XXI, la física computacional ha permitido avances significativos en la modelización y predicción de fenómenos físicos en una amplia variedad de campos, desde el clima y la biología hasta la astrofísica y la economía. Estos avances han transformado nuestra comprensión del mundo natural y han abierto nuevas oportunidades para abordar algunos de los desafíos más apremiantes de nuestro tiempo.</p>
      </div>
      <div class="col-12 col-md-5 order-1 order-md-2">
        <iframe src="https://www.youtube.com/embed/HcKJT2pGlUE" frameborder="0" allowfullscreen></iframe>
        <p>(video en español)</p>
      </div>

    </div>
  </div>
    <!--
    Diseño de materiales
  -->
  <div id="materialDesing" *ngIf="selectedPart == 'materialDesing'">
    <h3>Diseño de materiales:</h3>
    <p>
      En el campo del diseño de materiales, la física computacional ha revolucionado la forma en que se investigan, desarrollan y optimizan nuevos materiales con propiedades específicas. Mediante el uso de métodos numéricos avanzados y técnicas de simulación, los científicos pueden explorar una amplia gama de estructuras y composiciones materiales en condiciones controladas, acelerando el proceso de descubrimiento y desarrollo de materiales innovadores para aplicaciones diversas.
    </p>
    <!--carousel tipo1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_1.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_2.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_4.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Newton/Newton_5.jpg" alt="Imagen">
      </figure>
    </div>
    <p><b>Simulación de estructuras y propiedades: </b>La física computacional permite simular la estructura atómica y molecular de los materiales, así como predecir sus propiedades mecánicas, térmicas, eléctricas y ópticas. Esto ha permitido el diseño de materiales con características específicas, como materiales superconductores, materiales para celdas solares de alta eficiencia y materiales para dispositivos electrónicos avanzados.</p>
    <p><b>Optimización de procesos de fabricación: </b>La física computacional también se utiliza para optimizar los procesos de fabricación de materiales, como la deposición de películas delgadas, la cristalización y la fabricación aditiva. La simulación numérica de estos procesos permite a los ingenieros mejorar la eficiencia y la calidad de los materiales producidos, reduciendo los costos y el tiempo de desarrollo.</p>
    <p><b>Descubrimiento de materiales mediante la simulación de alto rendimiento: </b>Los enfoques de simulación de alto rendimiento, combinados con técnicas de inteligencia artificial y aprendizaje automático, han facilitado el descubrimiento de nuevos materiales con propiedades excepcionales. Los científicos pueden explorar grandes bibliotecas de materiales virtuales y identificar candidatos prometedores para síntesis y caracterización experimental.</p>
    <p><b>Diseño de materiales a nivel nanoscópico: </b>La física computacional también ha permitido el diseño de materiales a escala nanométrica, donde las propiedades emergentes pueden ser muy diferentes de las observadas a escalas macroscópicas. Esto incluye el desarrollo de nanomateriales para aplicaciones en electrónica, catálisis, medicina y energía.</p>
    <p><b>Colaboración interdisciplinaria: </b>El diseño de materiales mediante física computacional a menudo involucra colaboraciones interdisciplinarias entre físicos, químicos, ingenieros y científicos de materiales. Esta sinergia permite abordar desafíos complejos desde múltiples perspectivas y acelerar el desarrollo de materiales innovadores con aplicaciones prácticas.</p>
    <p>En resumen, la física computacional ha transformado el campo del diseño de materiales, proporcionando herramientas poderosas para simular, optimizar y descubrir materiales con propiedades personalizadas para una amplia gama de aplicaciones tecnológicas y científicas. Estos avances son fundamentales para impulsar la innovación en sectores clave como la electrónica, la energía, la medicina y la industria.</p>
  </div>
  <!--
    Análisis de datos
  -->
  <div id="dataAnalisis" *ngIf="selectedPart == 'dataAnalisis'">
    <h3>Análisis de datos:</h3>
    <p>
      En el análisis de datos, la física computacional proporciona herramientas y técnicas para procesar, visualizar e interpretar grandes volúmenes de datos generados por experimentos científicos, observaciones astronómicas, simulaciones numéricas y otras fuentes. Mediante el uso de algoritmos avanzados y métodos estadísticos, los científicos pueden identificar patrones, tendencias y correlaciones en los datos, así como realizar inferencias y tomar decisiones informadas basadas en evidencia cuantitativa.
    </p>
    <div class="row">
      <div class="col-12 col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen" (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave()">
          </a>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          </a>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg"alt="Imagen">
          </a>
          <a href="">
            <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
          </a>
        </section>
        <figcaption *ngIf="hovered !== null" id="texto"><b>{{texts[hovered]}}</b></figcaption>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <p><b>Procesamiento y filtrado de datos: </b>La física computacional ofrece herramientas para el preprocesamiento y filtrado de datos brutos, incluyendo corrección de ruido, eliminación de artefactos y interpolación de datos faltantes. Esto es crucial para garantizar la calidad y la confiabilidad de los datos antes de su análisis.</p>
          <p><b>Visualización de datos: </b>La visualización de datos es una parte integral del análisis de datos en física computacional. Se utilizan técnicas de visualización avanzadas, como gráficos tridimensionales, mapas de calor y visualización interactiva, para representar datos de manera efectiva y revelar patrones o estructuras ocultas en los datos.</p><br>
          <p><b>Análisis estadístico y minería de datos: </b>La física computacional emplea una amplia gama de técnicas estadísticas y de minería de datos para extraer información significativa de los datos, incluyendo análisis de regresión, clasificación de datos, clustering y análisis de series temporales.</p><br>
          <p><b>Aprendizaje automático y análisis predictivo: </b>Los métodos de aprendizaje automático se utilizan cada vez más en la física computacional para realizar análisis predictivo y modelado de datos complejos. Esto incluye algoritmos de regresión, redes neuronales, máquinas de vectores de soporte y árboles de decisión, entre otros.</p><br>
          <p><b>Aplicaciones en diversas áreas: </b>El análisis de datos en física computacional tiene aplicaciones en una amplia gama de áreas, como la astrofísica, la física de partículas, la biología computacional, la ingeniería de materiales y la climatología, entre otros. Se utiliza para analizar observaciones astronómicas, datos de aceleradores de partículas, secuencias genéticas, simulaciones climáticas y más.</p>
        </div>
      </div>
    </div>
    <!--Buscar frases en libros sobre el avance del análisis de datos en la física computacional!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div class="row internal-section">
      <div class="row">
        <h3> {{'physics-module.mechanics.Galileo.quotes.title'|translate}} </h3>
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote1'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
      <div class="row">
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote2'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
    </div>
  </div>
</div>
<br>

 <!--
    <div class="row internal-section">
      <div class="row">
        <h3> {{'physics-module.mechanics.Galileo.quotes.title'|translate}} </h3>
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote1'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
      <div class="row">
        <p>"{{'physics-module.mechanics.Galileo.quotes.quote2'|translate}}"
          <br>
          -Galileo Galilei
        </p>
      </div>
    </div>
  -->


