<div class="content">
    <h1>History</h1>
    <br>
    <br>
    <p>Mechanical physics is a branch of physics that focuses on the study of motion and the forces that cause it. Throughout history, numerous scientists have contributed to the development of mechanics,from the first observations to the most advanced theories.</p>
  
    <div id="Aristoteles">
      <h3>Aristotle</h3>
      <p>Aristotle (384-322 BC): Aristotle was one of the first philosophers to address the study of movement. He proposed a geocentric theory in which he believed that objects fell at different speeds depending on their weight, an idea that prevailed for centuries.</p>
      <div id="carouselPhysicsAristotle" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselPhysicsAristotle" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <!--
          Carl Friendrich Gauss
        -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <img src="https://3.bp.blogspot.com/-rhbHdIBm3OM/T9k9OeOtCYI/AAAAAAAAAA4/mPCW9dO7OiA/s320/ejp405251f6_online.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
              <div class="carousel-caption d-md-block">
  
                  <a href="https://www.britannica.com/biography/Carl-Friedrich-Gauss">Carl Friedrich Gauss</a>
                  <p>
                    Was a German mathematician, geodesist, and physicist who made significant contributions to many fields in mathematics and science.
                    Gauss had an exceptional influence in many fields of mathematics and science and ranks 
                  </p>
  
              </div>
            </div>
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
       </div>
    </div>
    <div id="Galileo">
      <h3>Galileo Galilei</h3>
      <p>
        Galileo Galilei (1564-1642): Galileo performed pioneering experiments on the movement and fall of objects. He discovered that all objects, regardless of their mass, fall at the same rate in a uniform gravitational field. He also formulated the laws of motion and laid the foundation for the law of inertia.
      </p>
      <div id="carouselPhysicsGalileo" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselPhysicsGalileo" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <!--
          Carl Friendrich Gauss
        -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <img src="https://www.shutterstock.com/image-photo/galileo-galilei-portrait-italy-banknotes-260nw-1289752297.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
              <div class="carousel-caption d-md-block">
                <a href="https://www.britannica.com/biography/Carl-Friedrich-Gauss">Carl Friedrich Gauss</a>
                <p style="text-align: justify;">
                  Was a German mathematician, geodesist, and physicist who made significant contributions to many fields in mathematics and science.
                  
                  
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
       </div>
    </div>
    <div id="Newton">
      <h3>Isaac Newton</h3>
      <p>
        Isaac Newton (1643-1727): Newton consolidated Galileo's ideas and formulated the laws of motion and the law of universal gravitation. His contributions revolutionized physics and astronomy, providing a mathematical framework for understanding and predicting the motion of objects.
      </p>
    </div>
    <div id="three-body">
      <h3>Three-body problem</h3>
      <p>
        Three-body problem: The gravitational interaction between three celestial bodies is a classic problem in celestial mechanics that still has no general analytical solution. The complexity of this problem has led to the development of numerical methods and the study of chaotic systems.
      </p>
    </div>
    <div id="Einstein's-theory">
      <h3>Einstein's theory of relativity</h3>
      <p>
        Einstein's theory of relativity: In the early 20th century, Albert Einstein proposed the theory of relativity, which transformed the understanding of gravity. The theory of general relativity describes gravity as a curvature of space-time caused by the presence of mass and energy.
      </p>
    </div>
    <div id="Quantum">
      <h3> Quantum mechanics</h3>
      <p>
        Quantum mechanics: At the subatomic level, quantum mechanics replaced classical mechanics. Developed in the first half of the 20th century, quantum mechanics describes the behavior of subatomic particles and has led to technologies such as quantum electronics.
      </p>
    </div>
    <div id="double-pendulum">
      <h3>Double pendulum problem</h3>
      <p>
        Double pendulum problem: A classic problem in mechanics is the study of the double pendulum, which presents chaotic behaviors and is an example of nonlinear dynamic systems.
      </p>
    </div>
    <div id="rigid-body">
      <h3>Rigid body problem</h3>
      <p>
        Rigid body problem: The study of rotating rigid bodies has led to the development of rigid mechanics and has found applications in engineering and vehicle dynamics.
      </p>
    </div>
  </div>
