<!--

-->
<!DOCTYPE html>
<html lang="es">
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=divice-width,initial-scale=1" />
</header>

<body>
  <!--División para el contenido de la página-->
  <div class="header">
    <app-headerMotivation></app-headerMotivation>
  </div>
  <!--<div class="navbar row">
                    <app-navbar></app-navbar>
              </div>-->
  <!--<div class="page-container">-->
  <!--División para el contenido medio de la página-->
  <!--<div class="row">
                    <div class="curious-box col-lg-3">
                      <app-lateral></app-lateral>
                    </div>
                  Main content goes here
                    <div class="text-justify col-lg-9">
                        <app-content></app-content>
                    </div>
                </div>-->
  <div class="content text-justify row">
    <app-contentMotivation></app-contentMotivation>
  </div>

  <!--División para el footer de la página-->
  <div class="footer-container">
    <app-footer></app-footer>
  </div>


</body>

</html>

