<div class="container-fluid lateral-container" *ngIf="!isCarouselMode">
  <div class="row">
    <div class="inside bg-light">
      <!-- Lateral container content goes here -->
      <div class="text-center" id="Tittle">
          <div class="container">
            <img src="https://cdn.britannica.com/27/190027-050-A9A35298/Carl-Friedrich-Gauss-engraving.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Carl-Friedrich-Gauss">Carl Friedrich Gauss</a>
            <p>
              Was a German mathematician, geodesist, and physicist who made significant contributions to many fields in mathematics and science.
              Gauss had an exceptional influence in many fields of mathematics and science and ranks among history's most influential mathematicians.
            </p>
          </div>
          <div class="container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Evariste_Galois.jpg/220px-Evariste_Galois.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Evariste-Galois">Évariste Galois<br></a>
            <a>Was a French mathematician and political activist. While still in his teens, he was able to determine a necessary and sufficient condition for a polynomial to be solvable by radicals,
              thereby solving a problem that had been open for 350 years. His work laid the foundations for Galois theory and group theory,[2] two major branches of abstract algebra. He was a staunch republican and was heavily involved in the political turmoil that surrounded the French Revolution of 1830.</a>
          </div>
          <div class="container">
            <img src="https://cdn.britannica.com/08/3008-004-F87BC031/Godfrey-Kneller-Isaac-Newton-portrait-1689.jpg?s=1500x700&q=85" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Isaac-Newton">Isaac Newton<br></a>
            <a>Was an English mathematician, physicist, astronomer, alchemist, theologian, and author who was described in his time as a natural philosopher. He was a key figure in the Scientific Revolution and the Enlightenment that followed.
              His pioneering book Philosophiæ Naturalis Principia Mathematica (Mathematical Principles of Natural Philosophy), first published in 1687, consolidated many previous results and established classical mechanics.
              [17][18] Newton also made seminal contributions to optics, and shares credit with German mathematician Gottfried Wilhelm Leibniz for developing infinitesimal calculus.</a>
          </div>
          <div class="container">
            <img src="https://cdn.britannica.com/99/171099-050-DA58FE5E/Srinivasa-Ramanujan.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Srinivasa Ramanujan<br></a>
            <a>Was Indian mathematician whose contributions to the theory of numbers include pioneering discoveries of the properties of the partition function.</a>
          </div>
          <div class="container">
            <img src="https://cdn.britannica.com/54/127554-050-57F55DC6/Pythagoras-theorem-sand-stick.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Pythagoras">Pythagoras<br></a>
            <a>Greek philosopher, mathematician, and founder of the Pythagorean brotherhood that, although religious in nature, formulated principles that influenced the thought of Plato and Aristotle and
              contributed to the development of mathematics and Western rational philosophy. (For a fuller treatment of Pythagoras and Pythagorean thought, see Pythagoreanism).</a>
          </div>
          <div class="container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Grigori_Perelman%2C_1993_%28re-scanned%29_%28cropped%29.jpg/800px-Grigori_Perelman%2C_1993_%28re-scanned%29_%28cropped%29.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Grigori Perelman<br></a>
            <a>Russian mathematician who was awarded—and declined—the Fields Medal in 2006 for his work on the Poincaré conjecture and Fields medalist William Thurston’s geometrization conjecture.
              In 2003 Perelman had left academia and apparently had abandoned mathematics. He was the first mathematician ever to decline the Fields Medal.</a>
          </div>
          <div class="container">
            <img src="https://cdn.britannica.com/99/171099-050-DA58FE5E/Srinivasa-Ramanujan.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Srinivasa Ramanujan<br></a>
            <a>Was Indian mathematician whose contributions to the theory of numbers include pioneering discoveries of the properties of the partition function.</a>
          </div>
      </div>
    </div>
  </div>
</div>


 <div id="carouselExampleCaptions" class="carousel slide" *ngIf="isCarouselMode">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <!--
    Carl Friendrich Gauss
  -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <img src="https://cdn.britannica.com/27/190027-050-A9A35298/Carl-Friedrich-Gauss-engraving.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Carl-Friedrich-Gauss">Carl Friedrich Gauss</a>
          <p style="text-align: justify;">
            Was a German mathematician, geodesist, and physicist who made significant contributions to many fields in mathematics and science.
            <span *ngIf="mostrarTextoCompleto">Gauss had an exceptional influence in many fields of mathematics and science and ranks among history's most influential mathematicians.</span>
            <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto"> ...Ver más</a>
            <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">   ocultar</a>
          </p>
        </div>

      </div>
  <!--
    Évariste Galois
  -->
    </div>
    <div class="carousel-item">
      <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Evariste_Galois.jpg/220px-Evariste_Galois.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Evariste-Galois">Évariste Galois</a>
          <p>Was a French mathematician and political activist. While still in his teens, he was able to determine a necessary and sufficient condition
             <span *ngIf="mostrarTextoCompleto">for a polynomial to be
              solvable by radicals, thereby solving a problem that had been open for 350 years. His work laid the foundations for Galois theory and group theory,[2]
              two major branches of abstract algebra. He was a staunch republican and was heavily involved in the political turmoil that surrounded the French Revolution of 1830.</span>
              <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto"> ...Ver más</a>
              <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">  ocultar</a>
            </p>
        </div>
      </div>
    </div>
  <!--
      Isaac Newton
    -->

    <div class="carousel-item">
      <div class="container">
        <img src="https://cdn.britannica.com/08/3008-004-F87BC031/Godfrey-Kneller-Isaac-Newton-portrait-1689.jpg?s=1500x700&q=85" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Isaac-Newton">Isaac Newton</a>
          <p>Was an English mathematician, physicist, astronomer, alchemist, theologian, and author who was described in his time as a natural philosopher.
            <span *ngIf="mostrarTextoCompleto">
              He was a key figure in the Scientific Revolution and the Enlightenment that followed.
              His pioneering book Philosophiæ Naturalis Principia Mathematica (Mathematical Principles of Natural Philosophy), first published in 1687, consolidated many previous results and established classical mechanics.
              [17][18] Newton also made seminal contributions to optics, and shares credit with German mathematician Gottfried Wilhelm Leibniz for developing infinitesimal calculus.
            </span>
            <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto"> ...Ver más</a>
            <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">  ocultar</a>
          </p>

        </div>
      </div>
    </div>

    <!--
        Srinivasa Ramanujan
      -->
    <div class="carousel-item">
      <div class="container">
        <img src="https://cdn.britannica.com/99/171099-050-DA58FE5E/Srinivasa-Ramanujan.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Srinivasa Ramanujan</a>
          <p>Was Indian mathematician whose contributions to the theory of numbers include pioneering discoveries of the properties of the partition function.</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <img src="https://cdn.britannica.com/54/127554-050-57F55DC6/Pythagoras-theorem-sand-stick.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Pythagoras">Pythagoras<br></a>
        <p>Greek philosopher, mathematician, and founder of the Pythagorean brotherhood that, although religious in nature, formulated
          <span *ngIf="mostrarTextoCompleto">
            principles that influenced the thought of Plato and Aristotle and
            contributed to the development of mathematics and Western rational philosophy. (For a fuller treatment of Pythagoras and Pythagorean thought, see Pythagoreanism).
          </span>
          <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto"> ...Ver más</a>
          <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">  ocultar</a>
        </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Grigori_Perelman%2C_1993_%28re-scanned%29_%28cropped%29.jpg/800px-Grigori_Perelman%2C_1993_%28re-scanned%29_%28cropped%29.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Grigori Perelman<br></a>
          <p>Russian mathematician who was awarded—and declined—the Fields Medal in 2006
            <span *ngIf="mostrarTextoCompleto">
              for his work on the Poincaré conjecture and Fields medalist William Thurston’s geometrization conjecture.
              In 2003 Perelman had left academia and apparently had abandoned mathematics. He was the first mathematician ever to decline the Fields Medal.
            </span>
            <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto"> ...Ver más</a>
            <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">  ocultar</a>
          </p>
        </div>
      </div>
    </div>



  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
 </div>

