<div class="container-fluid lateral-container" *ngIf="!isCarouselMode">
  <div class="row">
    <div class="inside bg-light">
      <!-- Lateral container content goes here -->
      <div class="text-center" id="Tittle">
          <div class="container">
            <img src="../../../assets/imgs/home/Gauss1.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Carl-Friedrich-Gauss">Carl Friedrich Gauss</a>
            <p>
              {{'home.lateral.Gauss1'|translate}} {{'home.lateral.Gauss2'|translate}}
            </p>
          </div>
          <div class="container">
            <img src="../../../assets/imgs/home/Galois1.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Evariste-Galois">Évariste Galois<br></a>
            <p>
              {{'home.lateral.Galois1'|translate}} {{'home.lateral.Galois2'|translate}}
            </p>
          </div>
          <div class="container">
            <img src="../../../assets/imgs/home/Newton1.jpg" class="img-fluid" alt="Imagen"><br>
            <a href="https://www.britannica.com/biography/Isaac-Newton">Isaac Newton<br></a>
            <p>{{'home.lateral.Newton1'|translate}}{{'home.lateral.Newton2'|translate}}</p>
          </div>
          <div class="container">
            <img src="../../../assets/imgs/home/Ramanujan1.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Srinivasa Ramanujan<br></a>
            <p>{{'home.lateral.Ramanujan'|translate}}</p>
          </div>
          <div class="container">
            <img src="../../../assets/imgs/home/Pythagoras1.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Pythagoras">Pythagoras<br></a>
            <p>{{'home.lateral.Pythagoras1'|translate}}{{'home.lateral.Pythagoras2'|translate}}</p>
          </div>
          <div class="container">
            <img src="../../../assets/imgs/home/Perelman1.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Grigori-Perelman">Grigori Perelman<br></a>
            <p>{{'home.lateral.Perelman1'|translate}}{{'home.lateral.Perelman2'|translate}}</p>
          </div>
          <div class="container">
            <img src="https://cdn.britannica.com/99/171099-050-DA58FE5E/Srinivasa-Ramanujan.jpg" class="img-fluid" alt="Imagen">
            <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Srinivasa Ramanujan<br></a>
            <p>Was Indian mathematician whose contributions to the theory of numbers include pioneering discoveries of the properties of the partition function.</p>
          </div>
      </div>
    </div>
  </div>
</div>


<div id="carouselExampleCaptions" class="carousel slide" *ngIf="isCarouselMode">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <!--
    Carl Friendrich Gauss
  -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <img src="../../../assets/imgs/home/Gauss2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Carl-Friedrich-Gauss">Carl Friedrich Gauss</a>
          <p style="text-align: justify;">
            {{'home.lateral.Gauss1'|translate}}
            <span *ngIf="mostrarTextoCompleto">{{'home.lateral.Gauss2'|translate}}</span>
            <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto">{{'home.readMore'|translate}}</a>
            <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">{{'home.readLess'|translate}}</a>
          </p>
        </div>
      </div>
    </div>
    <!--
    Évariste Galois
    -->

    <div class="carousel-item">
      <div class="container">
        <img src="../../../assets/imgs/home/Galois2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Evariste-Galois">Évariste Galois</a>
          <p> {{'home.lateral.Galois1'|translate}}
             <span *ngIf="mostrarTextoCompleto">{{'home.lateral.Galois2'|translate}}</span>
              <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto">{{'home.readMore'|translate}}</a>
              <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">{{'home.readLess'|translate}}</a>
            </p>
        </div>
      </div>
    </div>
    <!--
      Isaac Newton
    -->

    <div class="carousel-item">
      <div class="container">
        <img src="../../../assets/imgs/home/Newton2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Isaac-Newton">Isaac Newton</a>
          <p>{{'home.lateral.Newton1'|translate}}
            <span *ngIf="mostrarTextoCompleto">
              {{'home.lateral.Newton2'|translate}}
            </span>
            <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto">{{'home.readMore'|translate}}</a>
            <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">{{'home.readLess'|translate}}</a>
          </p>

        </div>
      </div>
    </div>

    <!--
        Srinivasa Ramanujan
      -->
    <div class="carousel-item">
      <div class="container">
        <img src="../../../assets/imgs/home/Ramanujan2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Srinivasa-Ramanujan">Srinivasa Ramanujan</a>
          <p>{{'home.lateral.Ramanujan'|translate}}</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <img src="../../../assets/imgs/home/Pythagoras2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Pythagoras">Pythagoras<br></a>
        <p>{{'home.lateral.Pythagoras1'|translate}}
          <span *ngIf="mostrarTextoCompleto">
            {{'home.lateral.Pythagoras2'|translate}}
          </span>
          <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto">{{'home.readMore'|translate}}</a>
          <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">{{'home.readLess'|translate}}</a>
        </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <img src="../../../assets/imgs/home/Perelman2.jpg" class="img-fluid d-block w-100" alt="Imagen"><br>
        <div class="carousel-caption d-md-block">
          <a href="https://www.britannica.com/biography/Grigori-Perelman">Grigori Perelman<br></a>
          <p>{{'home.lateral.Perelman1'|translate}}
            <span *ngIf="mostrarTextoCompleto">
              {{'home.lateral.Perelman2'|translate}}
            </span>
            <a href="#carouselExampleCaptions" (click)="toggleTextoCompleto()" *ngIf="!mostrarTextoCompleto">{{'home.readMore'|translate}}</a>
            <a href="#carouselExampleCaptions" (click)="toggleOcultarTexto()" *ngIf="mostrarTextoCompleto">{{'home.readLess'|translate}}</a>
          </p>
        </div>
      </div>
    </div>



  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

