/*header{
  /*box-sizing:border-box;

  height: auto;
  /*text-align: center;
  position:static;
  /*clear:right;
  background-color: rgb(88, 88, 88);
  /*margin-left: 25%;
  /*background-image: url("img\pi_gray.jpg");
  /*background-size: 60px;
}*/
/*
#Tittle{
  color:aliceblue;
  font-size:50px;
  font-family:papyrus, fantasy;
  position: static;
}*/
/*#description{
  color:rgb(255, 255, 255);
  /*font-size:17px;
  font-family:cursive;
  position: static;
}*/

