/*
.login{
  position: absolute;
  width: 100%;
  z-index: 2;
}

.signup{
  position: absolute;
  width: 100%;
  z-index: 2;
}*/
nav{
  width: 100%;
}
/**Control de modo responsive**/
/*Estilos para dispositivos de escritorio (PC)*/
@media only screen and (min-width: 1024px){

}
/*Estilos para tables*/
@media only screen and (min-width: 431px) and (max-width:1023px){

}
/*Estilos para móviles*/
@media only screen and (max-width: 430px){
  nav{
    max-width: 430px;
  }
  header{
    max-width: 430px;
  }
}
