
<div class="content">
  <h1>{{"physics-module.history"|translate}}</h1>
  <br>
  <!--Desktop mode for index-->
  <div class="desktop-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='Discovery'">{{"physics-module.electromagnetism.discovery.title1"|translate}}</a></li>
      <li><a (click)="selectedPart='Development'">{{"physics-module.electromagnetism.Development.Development"|translate}}</a></li>
      <li><a (click)="selectedPart='Research'">{{"physics-module.electromagnetism.Research.Research"|translate}}</a></li>
      <li><a (click)="selectedPart='Unification'">{{"physics-module.electromagnetism.Unification.Unification"|translate}}</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='Aplications'">{{"physics-module.electromagnetism.Aplications.Aplications"|translate}}</a></li>
      <li><a (click)="selectedPart='quantum-electrodynamics'">{{"physics-module.electromagnetism.quantumElectrodynamics.quantumElectrodynamics"|translate}}</a></li>
      <li><a (click)="selectedPart='Innovations'">Innovaciones Contemporáneas</a></li>
    </ul>
  </div>
  <!--Tablet mode for index-->
  <div class="tablet-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='Discovery'">{{"physics-module.electromagnetism.discovery.title1"|translate}}</a></li>
      <li><a (click)="selectedPart='Development'">{{"physics-module.electromagnetism.Development.Development"|translate}}</a></li>
      <li><a (click)="selectedPart='Research'">{{"physics-module.electromagnetism.Research.Research"|translate}}</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='Unification'">{{"physics-module.electromagnetism.Unification.Unification"|translate}}</a></li>
      <li><a (click)="selectedPart='Aplications'">{{"physics-module.electromagnetism.Aplications.Aplications"|translate}}   </a></li>
      <li><a (click)="selectedPart='quantum-electrodynamics'">{{"physics-module.electromagnetism.quantumElectrodynamics.quantumElectrodynamics"|translate}}</a></li>
    </ul>
    <div id="indice_3">
      <li><a (click)="selectedPart='Innovations'">Innovaciones Contemporáneas</a></li>
    </div>
  </div>
  <!--Mobile mode for index-->
  <div class="mobile-mode">
    <ul id="indice_1">
      <li><a (click)="selectedPart='Discovery'">{{"physics-module.electromagnetism.discovery.title1"|translate}}</a></li>
      <li><a (click)="selectedPart='Development'">{{"physics-module.electromagnetism.Development.Development"|translate}}</a></li>
      <li><a (click)="selectedPart='Research'">{{"physics-module.electromagnetism.Research.Research"|translate}}</a></li>
    </ul>
    <ul id="indice_2">
      <li><a (click)="selectedPart='Unification'">{{"physics-module.electromagnetism.Unification.Unification"|translate}}</a></li>
      <li><a (click)="selectedPart='Aplications'">{{"physics-module.electromagnetism.Aplications.Aplications"|translate}}   </a></li>
      <li><a (click)="selectedPart='quantum-electrodynamics'">{{"physics-module.electromagnetism.quantumElectrodynamics.quantumElectrodynamics"|translate}}</a></li>
    </ul>
    <div id="indice_3">
      <li><a (click)="selectedPart='Innovations'">Innovaciones Contemporáneas</a></li>
    </div>
  </div>
  <hr>
  <br>

  <!-- Botón para ir al inicio de la página -->
  <button id="scrollToTopButton" (click)="scrollToTop()"><i class="fa-solid fa-chevron-up"></i></button>

  <p>{{"physics-module.electromagnetism.historyText"|translate}}</p>
 <!--
        Discovery
      -->
  <div id="Discovery" *ngIf="selectedPart == 'Discovery'">
    <h3>{{"physics-module.electromagnetism.discovery.title1"|translate}}</h3>
    <p>{{"physics-module.electromagnetism.discovery.text1"|translate}}</p>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Guillaume Amontons (1663-1705):<br></b>
            {{"physics-module.electromagnetism.discovery.text2"|translate}}
          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Pieter van Musschenbroek (1692-1761):</b>
            {{"physics-module.electromagnetism.discovery.text6"|translate}}
            <br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Stephen Gray (1666-1736):<br></b>
            {{"physics-module.electromagnetism.discovery.text3"|translate}}

          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Ewald Georg von Kleist (1700-1748):</b>
            {{"physics-module.electromagnetism.discovery.text7"|translate}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Charles François de Cisternay du Fay (1698-1739):<br></b>
            {{"physics-module.electromagnetism.discovery.text4"|translate}}
          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Joseph Priestley (1733-1804):<br></b>
            {{"physics-module.electromagnetism.discovery.text8"|translate}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Benjamin Franklin (1706-1790):<br></b>
            {{"physics-module.electromagnetism.discovery.text5_1"|translate}}<br>
            {{"physics-module.electromagnetism.discovery.text5_2"|translate}}<br>
            {{"physics-module.electromagnetism.discovery.text5_3"|translate}}
          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Henry Cavendish (1731-1810):<br></b>
            {{"physics-module.electromagnetism.discovery.text9"|translate}}
          </p>
        </div>
      </div>
      <!--Carousel tipo 2-->
      <div class="gallery">
        <figure class="card">
          <img src="assets/imgs/physics/electromagnetism/Discovery/Cavendish.jpg" alt="Imagen">
        </figure>
        <figure class="card">
          <img src="assets/imgs/physics/electromagnetism/Discovery/Pieter.jpg" alt="Imagen">
        </figure>
        <figure class="card">
          <img src="assets/imgs/physics/electromagnetism/Discovery/Franklin.jpg" alt="Imagen">
        </figure>
        <figure class="card" id="fourth-image-Aristotle">
          <img src="assets/imgs/physics/electromagnetism/Discovery/Gray.jpg" alt="Imagen">
        </figure>
      </div>
  </div>
  <!--
    Development
      -->
  <div id="Development" *ngIf="selectedPart == 'Development'">
    <h3>{{"physics-module.electromagnetism.Development.Development"|translate}} (XVIII-XIX)</h3>
    <p>
      {{"physics-module.electromagnetism.Development.text1"|translate}}
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.Development.text2"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Development.text3"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Development.text4"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Development.text5"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Development.text6"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Development.text7"|translate}}
        </p>
      </div>
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/electromagnetism/Development/CoulombLaw.jpg" alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Development/MaxwellEquations.png" alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Development/Maxwell.jpg"alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Development/Faraday.jpg" alt="Imagen">
        </section>
        <br><br>
        <p>*Check the <a href="https://howtomechatronics.com/learn/electricity/coulombs-law/">Coulomb's Law</a></p>
      </div>
    </div>
  </div>
  <!--
    Research
  -->
  <div id="Research" *ngIf="selectedPart == 'Research'">
    <h3>{{"physics-module.electromagnetism.Research.Research"|translate}} (Siglo XVIII-XIX)</h3>
    <p>
      {{"physics-module.electromagnetism.Research.text1"|translate}}
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.Research.text2"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Research.text3"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Research.text4"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Research.text5"|translate}}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.Research.text6"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Research.text7"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Research.text8"|translate}}
        </p>
        <p>*Charles-Augustin <a href="https://es.wikipedia.org/wiki/Balanza_de_torsi%C3%B3n">torsion balance</a></p>
      </div>

    </div>
    <!--Carousel tipo 1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/electromagnetism/Research/WilliamGilbertExperiment.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/electromagnetism/Research/terellaGilbert.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/electromagnetism/Research/AugustinBalance.png" alt="Imagen">
      </figure>
      <figure class="card" id="fourth-image-Aristotle">
        <img src="assets/imgs/physics/electromagnetism/Research/brujulaMagnetica.jpg" alt="Imagen">
      </figure>
    </div>

  </div>
  <!--
    Unification
  -->
  <div id="Unification" *ngIf="selectedPart == 'Unification'">
    <h3>{{"physics-module.electromagnetism.Unification.Unification"|translate}} (Siglo XIX)</h3>
    <p>
      {{"physics-module.electromagnetism.Unification.text1"|translate}}
    </p>
    <div class="row">
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/electromagnetism/Unification/ChristianOersted.jpg" alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Unification/MaxwellEquations.png" alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Unification/Ampere.webp" alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Unification/AmperesLaw.jpg"alt="Imagen">
        </section>
        <br>
        <p>
          {{"physics-module.electromagnetism.Unification.text2"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Unification.text3"|translate}}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.Unification.text4"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Unification.text5"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Unification.text6"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Unification.text7"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Unification.text8"|translate}}
        </p>
      </div>
    </div>

  </div>
  <!--
    Aplications
  -->
  <div id="Aplications" *ngIf="selectedPart == 'Aplications'">
    <h3>{{"physics-module.electromagnetism.Aplications.Aplications"|translate}} (XIX-XX)</h3>
    <p>
      {{"physics-module.electromagnetism.Aplications.text1"|translate}}
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.Aplications.text2"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Aplications.text3"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Aplications.text4"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Aplications.text5"|translate}}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.Aplications.text6"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Aplications.text7"|translate}}
        </p>
        <p>
          {{"physics-module.electromagnetism.Aplications.text8"|translate}}
        </p>
      </div>
    </div>


    <div class="row internal-section">
      <div class="col-md-6 col-12">
        <h4>Video en español</h4>
        <iframe src="https://www.youtube.com/embed/tusvcCULebE" frameborder="0" allowfullscreen></iframe>

      </div>
      <div class="col-md-6 col-12">
        <h4>Video en inglés</h4>
        <iframe src="https://www.youtube.com/embed/CxVwdv76KBQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!--
    Quantum theory and quantum electrodynamics
  -->
  <div id="quantum-electrodynamics" *ngIf="selectedPart == 'quantum-electrodynamics'">
    <h3>{{"physics-module.electromagnetism.quantumElectrodynamics.quantumElectrodynamics"|translate}}</h3>
    <p>
      {{"physics-module.electromagnetism.quantumElectrodynamics.text1"|translate}}
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.quantumElectrodynamics.text2"|translate}}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          {{"physics-module.electromagnetism.quantumElectrodynamics.text3"|translate}}
        </p>
      </div>
    </div>
    <div class="row internal-section">
      <div class="col-md-3">
        <p>
          {{"physics-module.electromagnetism.quantumElectrodynamics.text4"|translate}}
        </p>
      </div>
      <div class="col-md-6">
        <iframe style="margin: auto;" src="https://www.youtube.com/embed/8VaLdRwVVoI" frameborder="0" allowfullscreen></iframe>
        <p style="margin-left: 5%;">(video en español)</p>
      </div>
      <div class="col-md-3">
        <p>
          {{"physics-module.electromagnetism.quantumElectrodynamics.text5"|translate}}
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <p>
        {{"physics-module.electromagnetism.quantumElectrodynamics.text6"|translate}}
      </p>
      <p>
        {{"physics-module.electromagnetism.quantumElectrodynamics.text7"|translate}}
      </p>
      <p>
        {{"physics-module.electromagnetism.quantumElectrodynamics.text8"|translate}}
      </p>
    </div>
    <!--Carousel tipo 1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/electromagnetism/quantum-electrodynamics/plasma.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/electromagnetism/quantum-electrodynamics/Feynman.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/electromagnetism/quantum-electrodynamics/Heisenberg.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/electromagnetism/quantum-electrodynamics/FeynmanDiagrams.png" alt="Imagen">
      </figure>
    </div>
  </div>
  <!--
    Innovations
  -->
  <div id="Innovations" *ngIf="selectedPart == 'Innovations'">
    <h3>Innovaciones Contemporáneas (Siglo XXI)</h3>
    <p>
      En el campo del electromagnetismo, el siglo XXI ha presenciado una serie de avances significativos que han transformado la forma en que interactuamos con la electricidad y el magnetismo.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          Desarrollo de dispositivos electrónicos avanzados: Desde el inicio del siglo XXI, hemos sido testigos de avances en dispositivos electrónicos, como teléfonos inteligentes, tabletas, computadoras portátiles y dispositivos de IoT (Internet de las cosas). Estos dispositivos dependen en gran medida de los principios del electromagnetismo para su funcionamiento, desde la transmisión de datos mediante señales eléctricas hasta la generación de campos electromagnéticos para la conectividad inalámbrica.
        </p>
        <p>
          Redes de comunicación inalámbrica de alta velocidad: El desarrollo de tecnologías como el Wi-Fi y el 4G/5G ha permitido una conectividad inalámbrica rápida y confiable, lo que ha revolucionado la forma en que nos comunicamos y accedemos a la información.
        </p>
        <p>
          Electromagnetismo aplicado en la medicina: En el campo de la medicina, se han desarrollado nuevas técnicas de diagnóstico y tratamiento que dependen del electromagnetismo. Por ejemplo, la resonancia magnética (IRM) y la tomografía computarizada (TC) son técnicas de imagenología que utilizan campos electromagnéticos para producir imágenes detalladas del interior del cuerpo humano.
        </p>
        <p>
          Desarrollo de materiales magnéticos avanzados: Se han investigado y desarrollado nuevos materiales magnéticos con propiedades únicas para aplicaciones en campos como la tecnología de almacenamiento de datos, la electrónica de potencia y la medicina.
        </p>
        <p>
          Avances en la teoría y simulación electromagnética: Se han realizado progresos significativos en la modelización y simulación computacional de fenómenos electromagnéticos, lo que ha permitido diseñar y optimizar dispositivos y sistemas electromagnéticos con mayor precisión y eficiencia.
        </p>
        <p>
          Energía renovable y electromagnetismo: En el ámbito de la energía renovable, se han desarrollado tecnologías basadas en principios electromagnéticos, como la generación de energía eólica y solar, así como sistemas de transmisión de energía más eficientes y redes eléctricas inteligentes.
        </p>
      </div>
      <div class="col-md-6" style="margin-top: 5%;">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/electromagnetism/Innovations/iot.webp" alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Innovations/TomografiaComputarizada.jpg" alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Innovations/simulation.png"alt="Imagen">
          <img src="assets/imgs/physics/electromagnetism/Innovations/renowableEnergy.jpg" alt="Imagen">
        </section>
      </div>
    </div>

  </div>

</div>

