
<div class="content">
  <h1>{{"physics-module.history"|translate}}</h1>
  <br>
  <br>
  <p>La historia del electromagnetismo es una narrativa fascinante que abarca varios siglos y ha involucrado a numerosos científicos e investigadores clave. Esta historia se puede dividir en varias secciones destacadas:</p>
 <!--
        Discovery
      -->
  <div id="Discovery">
    <h3>Descubrimiento de la Electricidad (Siglo XVII-XVIII)</h3>
    <p>El descubrimiento y comprensión de la electricidad se desarrolló a lo largo de los siglos XVII y XVIII, con contribuciones clave de varios científicos que realizaron experimentos y observaciones fundamentales. A continuación, se presentan algunos hitos importantes en la historia del descubrimiento de la electricidad durante ese período:</p>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Guillaume Amontons (1663-1705):<br></b>
            Realizó experimentos con electricidad estática, observando la atracción y repulsión de objetos electrificados.
          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Pieter van Musschenbroek (1692-1761):</b>
              Inventó el condensador, también conocido como la botella de Leyden, un dispositivo para almacenar carga eléctrica.
            <br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Stephen Gray (1666-1736):<br></b>
            Distinguió entre conductores y aislantes. Descubrió que algunos materiales podían transportar la electricidad.

          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Ewald Georg von Kleist (1700-1748):</b>
            También contribuyó al desarrollo del condensador de Leyden al mismo tiempo que Musschenbroek.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Charles François de Cisternay du Fay (1698-1739):<br></b>
            Propuso la existencia de dos tipos de electricidad, a la que llamó "vítreo" (positiva) y "resinoso" (negativa).
          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Joseph Priestley (1733-1804):<br></b>
            Descubrió que ciertos conductores podrían descargar la electricidad de un condensador.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            <b>Benjamin Franklin (1706-1790):<br></b>
            * Contribuyó significativamente a la comprensión de la electricidad.<br>
            * Realizó experimentos con cometas para demostrar la naturaleza eléctrica de los rayos.<br>
            * Propuso el modelo de un fluido eléctrico y desarrolló la teoría de la electricidad de un solo fluido.
          </p>
        </div>
        <div class="col-6">
          <p>
            <b>Henry Cavendish (1731-1810):<br></b>
            Desarrolló la teoría de que la electricidad es un fluido compuesto por partículas eléctricas individuales.
          </p>
        </div>
      </div>
      <!--Carousel tipo 2-->
      <div class="gallery">
        <figure class="card">
          <img src="assets/imgs/physics/mechanics/Aristotle/AristotleElements_1.png" alt="Imagen">
        </figure>
        <figure class="card">
          <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_3.jpg" alt="Imagen">
        </figure>
        <figure class="card">
          <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_4.jpg" alt="Imagen">
        </figure>
        <figure class="card" id="fourth-image-Aristotle">
          <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_2.jpg" alt="Imagen">
        </figure>
      </div>
  </div>
  <!--
    Development
      -->
  <div id="Development">
    <h3>Desarrollo de la Teoría Eléctrica (Siglo XVIII-XIX)</h3>
    <p>
      Descubrimiento de la electricidad estática: En el siglo XVIII, experimentos con objetos como ámbar y vidrio frotados condujeron al descubrimiento de la electricidad estática. Figuras destacadas en este campo incluyen a William Gilbert, Otto von Guericke y Stephen Gray.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          Leyes del comportamiento eléctrico: Charles-Augustin de Coulomb en el siglo XVIII estableció las leyes fundamentales de la electrostática, incluida la Ley de Coulomb que describe la fuerza entre cargas eléctricas.
        </p>
        <p>
          Invento de la pila voltaica: En 1800, Alessandro Volta inventó la pila voltaica, la primera batería eléctrica que podía producir una corriente eléctrica constante. Este avance fue fundamental para el desarrollo de la electrólisis y la comprensión de la corriente eléctrica.    </p>
        <p>
          Teoría del flujo eléctrico: En la década de 1820, André-Marie Ampère desarrolló la teoría del flujo eléctrico, que establecía las leyes fundamentales del magnetismo y la interacción entre corrientes eléctricas.
        </p>
        <p>
          Leyes de la electrodinámica: En la década de 1830, Michael Faraday formuló las leyes de la electrodinámica, incluida la ley de Faraday de la inducción electromagnética, que establece que un cambio en el campo magnético a través de un circuito induce una corriente eléctrica en el circuito.
        </p>
        <p>
          Desarrollo de la teoría matemática: James Clerk Maxwell en el siglo XIX unificó los fenómenos eléctricos y magnéticos en un conjunto coherente de ecuaciones conocidas como las ecuaciones de Maxwell. Estas ecuaciones forman la base de la teoría electromagnética y predijeron la existencia de las ondas electromagnéticas, confirmadas experimentalmente por Heinrich Hertz.
        </p>
        <p>
          Estos son solo algunos de los principales hitos en el desarrollo de la teoría eléctrica durante los siglos XVIII y XIX. Estos avances sentaron las bases para la revolución tecnológica que transformó la sociedad moderna, desde la iluminación eléctrica hasta las comunicaciones inalámbricas.
        </p>
      </div>
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg"alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
        </section>
      </div>
    </div>
  </div>
  <!--
    Research
  -->
  <div id="Research">
    <h3>Investigaciones en Magnetismo (Siglo XVIII-XIX)</h3>
    <p>
      Durante los siglos XVIII y XIX, las investigaciones en magnetismo experimentaron avances significativos que sentaron las bases para nuestra comprensión moderna de este fenómeno.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          Descubrimientos tempranos del magnetismo: El magnetismo ha sido observado y estudiado desde la antigüedad, pero fue en el siglo XVIII cuando se realizaron avances más sistemáticos en su comprensión. Experimentos con materiales magnéticos naturales como la magnetita (óxido de hierro) llevaron al descubrimiento de las propiedades magnéticas básicas.
        </p>
        <p>
          Leyes del magnetismo: Charles-Augustin de Coulomb, conocido por sus investigaciones en electricidad, también contribuyó al estudio del magnetismo en el siglo XVIII. Estableció leyes fundamentales para la interacción magnética, que son análogas a las leyes de Coulomb para la interacción eléctrica.
        </p>
        <p>
          Inicios de la teoría electromagnética: Aunque se considera principalmente una figura del siglo XIX, el trabajo de Hans Christian Oersted en 1820 fue fundamental. Descubrió que una corriente eléctrica puede generar un campo magnético, sentando las bases para la conexión entre electricidad y magnetismo.
        </p>
        <p>
          Desarrollo de la teoría del magnetismo: William Gilbert fue una figura destacada en el siglo XVI que realizó experimentos y formuló teorías sobre el magnetismo, estableciendo las bases de la moderna investigación en este campo. Sin embargo, sus ideas se desarrollaron y refinaron significativamente en los siglos siguientes.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Investigaciones sobre la magnetización y el magnetismo molecular: En el siglo XIX, científicos como André-Marie Ampère y Michael Faraday realizaron importantes investigaciones sobre la naturaleza molecular del magnetismo y la magnetización de materiales. Sus experimentos ayudaron a comprender mejor cómo se organizan y comportan los átomos y las moléculas en los materiales magnéticos.
        </p>
        <p>
          Avances en la tecnología magnética: Durante este período, también hubo avances significativos en la aplicación práctica del magnetismo, incluyendo la invención de brújulas magnéticas mejoradas, la creación de imanes artificiales más potentes y el desarrollo de técnicas para magnetizar y desmagnetizar materiales según sea necesario.
        </p>
        <p>
          Estos son solo algunos de los principales hitos en las investigaciones sobre magnetismo durante los siglos XVIII y XIX. Estos avances sentaron las bases para desarrollos posteriores en campos como la física, la ingeniería eléctrica, la tecnología de materiales y muchas otras áreas de la ciencia y la tecnología modernas.
        </p>
      </div>
    </div>
    <!--Carousel tipo 1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/AristotleElements_1.png" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_4.jpg" alt="Imagen">
      </figure>
      <figure class="card" id="fourth-image-Aristotle">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_2.jpg" alt="Imagen">
      </figure>
    </div>

  </div>
  <!--
    Unification
  -->
  <div id="Unification">
    <h3>Unificación de Electricidad y Magnetismo (Siglo XIX)</h3>
    <p>
      Durante el siglo XIX, se produjo una notable unificación de los campos de la electricidad y el magnetismo, que culminó en el desarrollo de la teoría electromagnética.
    </p>
    <div class="row">
      <div class="col-md-6">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg"alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
        </section>
        <br>
        <p>
          Descubrimiento de la relación entre electricidad y magnetismo: En 1820, Hans Christian Oersted realizó un experimento crucial que mostró que una corriente eléctrica podía generar un campo magnético. Este descubrimiento fue fundamental para demostrar la conexión íntima entre electricidad y magnetismo.
        </p>
        <p>
          Leyes de Ampère y formulación de la electrodinámica: André-Marie Ampère, en la década de 1820, formuló las leyes que describen la interacción entre corrientes eléctricas y los campos magnéticos que generan. Estas leyes sentaron las bases para la formulación de la electrodinámica, la rama de la física que estudia las interacciones entre electricidad y magnetismo.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Desarrollo de la teoría matemática: James Clerk Maxwell en la década de 1860 desarrolló un conjunto de ecuaciones que unificaban las leyes del electromagnetismo conocidas hasta entonces. Estas ecuaciones, conocidas como las ecuaciones de Maxwell, describen cómo los campos eléctricos y magnéticos interactúan y se propagan en el espacio.
        </p>
        <p>
          Predicción de las ondas electromagnéticas: Basándose en las ecuaciones de Maxwell, Maxwell predijo la existencia de ondas electromagnéticas, que viajan a la velocidad de la luz y son generadas por aceleraciones de cargas eléctricas. Estas ondas incluyen la luz visible y otras formas de radiación electromagnética.
        </p>
        <p>
          Confirmación experimental de las predicciones de Maxwell: Las predicciones de Maxwell sobre las ondas electromagnéticas fueron confirmadas experimentalmente por Heinrich Hertz en la década de 1880. Hertz demostró la existencia y propagación de estas ondas, lo que proporcionó una sólida confirmación empírica de la teoría unificada del electromagnetismo.
        </p>
        <p>
          Establecimiento de la teoría electromagnética: La unificación de la electricidad y el magnetismo en una sola teoría coherente, basada en las ecuaciones de Maxwell, es uno de los hitos más significativos en la historia de la física. Esta teoría proporcionó un marco unificado para comprender una amplia gama de fenómenos electromagnéticos y allanó el camino para numerosas aplicaciones tecnológicas, incluidas las telecomunicaciones, la electrónica y la generación de energía.
        </p>
        <p>
          Estos son algunos de los principales hitos en la unificación de la electricidad y el magnetismo durante el siglo XIX, un proceso que transformó nuestra comprensión del mundo físico y sentó las bases para el desarrollo de la física moderna y la tecnología asociada.
        </p>
      </div>
    </div>

  </div>
  <!--
    Aplications
  -->
  <div id="Aplications">
    <h3>Aplicaciones Prácticas y Desarrollos Tecnológicos (Siglo XIX-XX)</h3>
    <p>
      Durante los siglos XIX y XX, el electromagnetismo fue el motor detrás de numerosas aplicaciones prácticas y desarrollos tecnológicos que transformaron la sociedad.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          Telegrafía eléctrica: A mediados del siglo XIX, el desarrollo de sistemas de telegrafía eléctrica permitió la transmisión rápida de mensajes a larga distancia a través de cables. El telégrafo de Samuel Morse, inventado en 1836, fue uno de los primeros sistemas exitosos en este campo.    </p>
        <p>
          Generación y distribución de energía eléctrica: A finales del siglo XIX, se logró la generación y distribución de energía eléctrica a gran escala. La invención de la máquina de corriente continua y la máquina de corriente alterna por inventores como Nikola Tesla y Thomas Edison permitió la construcción de redes eléctricas que iluminaron ciudades enteras y alimentaron fábricas y hogares.
        </p>
        <p>
          Desarrollo de motores eléctricos: Los motores eléctricos se desarrollaron y perfeccionaron en el siglo XIX y XX, lo que llevó a una revolución en la industria y el transporte. Estos motores jugaron un papel crucial en la automatización de la fabricación y en la electrificación de vehículos y trenes.
        </p>
        <p>
          Radiocomunicación y televisión: En el siglo XX, el desarrollo de la radio y la televisión se basó en los principios del electromagnetismo. Inventos como la válvula de vacío, el transistor y el tubo de rayos catódicos permitieron la transmisión y recepción de señales de radio y televisión a larga distancia.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Tecnologías de radar y comunicación por satélite: Durante la Segunda Guerra Mundial y la Guerra Fría, se desarrollaron tecnologías de radar que utilizan ondas electromagnéticas para detectar objetos a larga distancia. Además, el desarrollo de la comunicación por satélite en la segunda mitad del siglo XX revolucionó las telecomunicaciones al permitir la transmisión de señales a través del espacio.
        <p>
          Electrónica de semiconductores y microelectrónica: El desarrollo de dispositivos electrónicos basados en semiconductores, como el transistor y el circuito integrado, en el siglo XX sentó las bases de la revolución digital. Estos avances permitieron la miniaturización de componentes electrónicos y el desarrollo de computadoras, teléfonos móviles y otros dispositivos electrónicos avanzados.
        </p>
        <p>
          Imágenes médicas y diagnóstico por imágenes: En el campo de la medicina, las tecnologías de imagenología basadas en principios electromagnéticos, como la resonancia magnética (IRM), la tomografía computarizada (TC) y la ecografía, han revolucionado el diagnóstico médico y han mejorado la comprensión de la anatomía y la fisiología humanas.
        </p>
      </div>
    </div>


    <div class="row internal-section">
      <div class="col-6" width="500" height="315">
        <h4>Video en español</h4>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/tusvcCULebE" frameborder="0" allowfullscreen></iframe>

      </div>
      <div class="col-6">
        <h4>Video en inglés</h4>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/CxVwdv76KBQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!--
    Quantum theory and quantum electrodynamics
  -->
  <div id="quantum-electrodynamics">
    <h3>Teoría Cuántica y Electrodinámica Cuántica (Siglo XX)</h3>
    <p>
      El siglo XX fue testigo de una revolución en nuestra comprensión de la naturaleza de la materia y la energía, especialmente con el desarrollo de la teoría cuántica y la electrodinámica cuántica.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          Desarrollo de la teoría cuántica: A principios del siglo XX, se observaron fenómenos que no podían explicarse adecuadamente con la física clásica, como el efecto fotoeléctrico y el espectro de emisión del átomo de hidrógeno. En 1900, Max Planck propuso la idea revolucionaria de que la energía se emite y absorbe en paquetes discretos llamados "cuantos". Este trabajo sentó las bases de la teoría cuántica.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Modelo atómico de Bohr: En 1913, Niels Bohr propuso un modelo del átomo de hidrógeno que incorporaba ideas cuánticas para explicar el espectro de emisión. Este modelo postulaba que los electrones orbitan alrededor del núcleo en niveles de energía discretos y que las transiciones entre estos niveles dan lugar a la emisión o absorción de radiación electromagnética.
        </p>
      </div>
    </div>
    <div class="row internal-section">
      <div class="col-md-3">
        <p>
          Ecuación de Schrödinger: En 1926, Erwin Schrödinger desarrolló la ecuación de onda que describe el comportamiento de las partículas subatómicas en términos de funciones de onda. Esta ecuación es fundamental en la formulación de la mecánica cuántica y proporciona una descripción precisa del comportamiento de los sistemas cuánticos.
        </p>
      </div>
      <div class="col-md-6">
        <iframe style="margin: auto;" src="https://www.youtube.com/embed/8VaLdRwVVoI" frameborder="0" allowfullscreen></iframe>
        <p style="margin-left: 5%;">(video en español)</p>
      </div>
      <div class="col-md-3">
        <p>
          Principio de incertidumbre de Heisenberg: En 1927, Werner Heisenberg enunció el principio de incertidumbre, que establece que es imposible conocer simultáneamente con precisión la posición y el momento (cantidad de movimiento) de una partícula subatómica. Este principio es una consecuencia fundamental de la naturaleza cuántica de la materia.
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <p>
        Electrodinámica cuántica (QED): En la década de 1940 y 1950, Richard Feynman, Julian Schwinger y Sin-Itiro Tomonaga desarrollaron la electrodinámica cuántica, una teoría que unifica la mecánica cuántica con la teoría electromagnética clásica. QED describe la interacción entre la luz (fotones) y la materia (electrones y positrones) con una precisión sin precedentes.
      </p>
      <p>
        Modelo estándar de la física de partículas: En las décadas de 1960 y 1970, se desarrolló el modelo estándar de la física de partículas, que es una teoría cuántica de campos que describe las interacciones fundamentales entre las partículas subatómicas y las fuerzas que las gobiernan. Este modelo ha sido confirmado por numerosos experimentos de alta energía y ha demostrado ser una de las teorías más exitosas en la historia de la física.
      </p>
      <p>
        Estos avances transformaron nuestra comprensión del mundo subatómico y tienen aplicaciones en una amplia gama de campos, desde la física de materiales hasta la tecnología de la información y la medicina.
      </p>
    </div>
    <!--Carousel tipo 1-->
    <div class="gallery">
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/AristotleElements_1.png" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_3.jpg" alt="Imagen">
      </figure>
      <figure class="card">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_4.jpg" alt="Imagen">
      </figure>
      <figure class="card" id="fourth-image-Aristotle">
        <img src="assets/imgs/physics/mechanics/Aristotle/Aristotle_2.jpg" alt="Imagen">
      </figure>
    </div>
  </div>
  <!--
    Innovations
  -->
  <div id="Innovations">
    <h3>Innovaciones Contemporáneas (Siglo XXI)</h3>
    <p>
      En el campo del electromagnetismo, el siglo XXI ha presenciado una serie de avances significativos que han transformado la forma en que interactuamos con la electricidad y el magnetismo.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          Desarrollo de dispositivos electrónicos avanzados: Desde el inicio del siglo XXI, hemos sido testigos de avances en dispositivos electrónicos, como teléfonos inteligentes, tabletas, computadoras portátiles y dispositivos de IoT (Internet de las cosas). Estos dispositivos dependen en gran medida de los principios del electromagnetismo para su funcionamiento, desde la transmisión de datos mediante señales eléctricas hasta la generación de campos electromagnéticos para la conectividad inalámbrica.
        </p>
        <p>
          Redes de comunicación inalámbrica de alta velocidad: El desarrollo de tecnologías como el Wi-Fi y el 4G/5G ha permitido una conectividad inalámbrica rápida y confiable, lo que ha revolucionado la forma en que nos comunicamos y accedemos a la información.
        </p>
        <p>
          Electromagnetismo aplicado en la medicina: En el campo de la medicina, se han desarrollado nuevas técnicas de diagnóstico y tratamiento que dependen del electromagnetismo. Por ejemplo, la resonancia magnética (IRM) y la tomografía computarizada (TC) son técnicas de imagenología que utilizan campos electromagnéticos para producir imágenes detalladas del interior del cuerpo humano.
        </p>
        <p>
          Desarrollo de materiales magnéticos avanzados: Se han investigado y desarrollado nuevos materiales magnéticos con propiedades únicas para aplicaciones en campos como la tecnología de almacenamiento de datos, la electrónica de potencia y la medicina.
        </p>
        <p>
          Avances en la teoría y simulación electromagnética: Se han realizado progresos significativos en la modelización y simulación computacional de fenómenos electromagnéticos, lo que ha permitido diseñar y optimizar dispositivos y sistemas electromagnéticos con mayor precisión y eficiencia.
        </p>
        <p>
          Energía renovable y electromagnetismo: En el ámbito de la energía renovable, se han desarrollado tecnologías basadas en principios electromagnéticos, como la generación de energía eólica y solar, así como sistemas de transmisión de energía más eficientes y redes eléctricas inteligentes.
        </p>
      </div>
      <div class="col-md-6" style="margin-top: 5%;">
        <!--Carousel tipo 2-->
        <section>
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_1.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_2.jpg" alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_3.jpg"alt="Imagen">
          <img src="assets/imgs/physics/mechanics/Galileo Galilei/Galileo_4.jpg" alt="Imagen">
        </section>
      </div>
    </div>

  </div>

</div>

