<footer class="footer-container" >
  <div class="row">
    <div class="footer-heading col-sm-4 d-flex flex-column text-center" >
      <a href="https://www.linkedin.com/in/juan-david-ruiz-olmos-27ab22260/">Linkedin</a>
      <a href="https://github.com/DavidOlmos03">GitHub</a>
      <a href="https://www.facebook.com/david.olmos.90226">Facebook</a>
    </div>
    <div class="footer-heading col-sm-4 text-center">
      <address>
        <!-- <h3>{{'footer.contact'|translate}}</h3> -->
          <p><span class="oi oi-home footer-address-icon"></span>Medellín - Colombia</p>
          <p><span class="oi oi-phone footer-address-icon"></span>+57 3183695731</p>
          <p><span class="oi oi-inbox footer-address-icon"></span>juanda_201001&#64;hotmail.com</p>
      </address>
    </div>
    <div class="footer-heading col-sm-4 d-flex flex-column text-center" >
         <a href="https://davidolmos-portfolio.netlify.app/">{{'footer.aboutUs'|translate}}</a>
         <a href="#">{{'footer.termsConditions'|translate}}</a>
    </div>
  </div>
</footer>
